<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <!-- 사용자 스크립트 추가 -->
    <script th:inline="javascript">
        $(document).ready(function () {

            calculateTotalPrice();

            $("#count").change(function () {
                calculateTotalPrice();
            });
        });

        function calculateTotalPrice() {

            var count = $("#count").val();
            var price = $("#price").val();
            var totalPrice = price * count;
            $("#totalPrice").html(totalPrice + '원');

        }

        function order() {

            var username = [[${username}]];
            var userRole = [[${userRole}]];
            var itemStatus = document.getElementById('itemStatus').value;

            if (itemStatus === 'SOLD_OUT') {
                alert('품절 상품입니다!');
                return;
            }

            if (userRole === 'ADMIN') {
                alert('권한이 없습니다!');
                return;
            }

            var url = "/order";
            var paramData = {
                itemId: $("#itemId").val(),
                count: $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: param,
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    alert("주문이 완료 되었습니다.");
                    location.href = '/';
                },
                error: function (jqXHR, status, error) {

                    if (username == null) {
                        alert('로그인 후 이용해주세요');
                        location.href = '/member/login';
                    } else {
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        function addCart() {

            var username = [[${username}]];
            var userRole = [[${userRole}]];
            var itemStatus = document.getElementById('itemStatus').value;

            console.log(itemStatus);

            if (itemStatus === 'SOLD_OUT') {
                alert('품절 상품입니다!');
                return;
            }

            if (userRole === 'ADMIN') {
                alert('권한이 없습니다!');
                return;
            }

            var url = "/cart";
            var paramData = {
                itemId: $("#itemId").val(),
                count: $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: param,
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    alert("상품을 장바구니에 담았습니다.");
                    location.href = '/cart';
                },
                error: function (jqXHR, status, error) {

                    if (username == null) {
                        alert('로그인 후 이용해주세요');
                        location.href = '/member/login';
                    } else {
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

    </script>

    <div class="product-detail">
        <div class="image">
            <input type="hidden" id="itemId" th:value="${item.id}">
            <div class="div-container">
                <img class="tablist-item-tab"
                     th:if="${item.itemImgDtoList != null and item.itemImgDtoList.size() > 1 and item.itemImgDtoList[1] != null}"
                     th:style="'background-image: url(' + ${item.itemImgDtoList[1].iimgurl} + ')'">
                <img class="img"
                     th:if="${item.itemImgDtoList != null and item.itemImgDtoList.size() > 1 and item.itemImgDtoList[2] != null}"
                     th:style="'background-image: url(' + ${item.itemImgDtoList[2]?.iimgurl ?: ''} + ')'">
                <img class="tablist-item-tab-2"
                     th:if="${item.itemImgDtoList != null and item.itemImgDtoList.size() > 1 and item.itemImgDtoList[3] != null}"
                     th:style="'background-image: url(' + ${item.itemImgDtoList[3]?.iimgurl ?: ''} + ')'">
                <img class="i-fa-play-wrapper"
                     th:if="${item.itemImgDtoList != null and item.itemImgDtoList.size() > 1 and item.itemImgDtoList[4] != null}"
                     th:style="'background-image: url(' + ${item.itemImgDtoList[4]?.iimgurl ?: ''} + ')'">
                <img class="tabpanel-product-big"
                     th:style="'background-image: url(' + ${item.itemImgDtoList[0].iimgurl} + ')'">
            </div>
        </div>
        <div class="heading" data-th-text="|￦ ${#numbers.formatInteger(item.pprice, 3, 'COMMA')}  |"></div>

        <div class="input">
            <input type="number" name="count" id="count" class="div-pro-qty" value="1" min="1"
                   style="text-align : center">
        </div>

        <div class="text-right">
        <div class="link">
            <button type="button" class="text-wrapper-4" onclick="addCart()">장바구니 담기
            </button>
        </div>
        <div class="heading-hooded">[[${item.pname}]]</div>
        <div class="link-2">
            <button type="button" class="text-wrapper-4" onclick="order()">주문하기</button>
        </div>
        </div>
        <input type="hidden" id="itemStatus" th:value="${item.pstatus}" class="text-right">
        <div class="frame">
            <div class="tabpanel-heading">상품 정보</div>
            <p class="tabpanel-a-pocket-PC">
                [[${item.pdesc}]]
            </p>
            <div class="item-tab">
                <div class="text-wrapper-5">상세 설명</div>
            </div>
        </div>
    </div>
    <div class="productDetail-footer">
        <footer class="footer">
            <div class="overlap-5">
                <div class="div-container">
                    <p class="based-on-the-life-s">Based on the &#39;Life&#39;s Good&#39; brand philosophy,</p>
                    <p class="text-wrapper-11">we always strives to provide First, Unique,</p>
                    <div class="overlap-6">
                        <p class="text-wrapper-12">and New F·U·N experiences to provide</p>
                        <p class="text-wrapper-13">customers with a better life.</p>
                    </div>
                    <a th:href="@{/templates/item/item.html}">
                        <div class="heading-shopping">SHOPPING</div>
                        <div class="list-item-link">Refrigerator</div>
                        <div class="list-item-link-2">TV</div>
                        <div class="list-item-link-3">Laptop</div>
                        <div class="list-item-link-sale">Washing Machine</div>
                        <div class="list-item-link-4">Air Purifier</div>
                        <div class="list-item-link-5">Air Conditioner</div>
                        <div class="list-item-link-6">Cleaner</div>
                        <div class="heading-newletter">OTHERS</div>
                        <div class="div-footer-copyright">
                            <div class="overlap-group-2">
                                <div class="text-wrapper-14">Copyright ©</div>
                                <p class="text-wrapper-15">20232020 All rights reserved | This template is made with</p>
                                <div class="symbol-3"></div>
                                <div class="by">by</div>
                                <div class="link-colorlib">Colorlib</div>
                            </div>
                        </div>
                        <div class="list-item-link-7">About us</div>
                        <div class="list-item-link-8">FAQ</div>
                        <div class="list-item-link-9">Contact</div>
                        <p class="element">
                <span class="span"
                >개인정보처리방침<br/>이벤트 개인정보처리방침<br/>영상정보처리기기운영관리방침<br/><br/>대표번호 :
                </span>
                            <a href="tel:02-3777-1114" target="_blank" rel="noopener noreferrer"
                            ><span class="text-wrapper-16">02-</span></a
                            >
                            <span class="span"
                            >1234-1234<br/>전화상담 시간은 평일 09:00 ~ 18:00 (주말, 공휴일 휴무) 입니다. (통화요금 :
                  발신자부담)<br/>제품 및 서비스 문의는 긴급 문의 건에 한해 24시간 운영합니다.<br/>주소 : 경기도
                  수원시 경기도 수원시 팔달구 덕영대로 899 (매산로 1가, 세진브론즈빌 304호)<br/><br/>본 사이트의 모든
                  콘텐츠는 저작권법의 보호를 받는 바, 무단 전재, 복사, 배포 등을 금합니다.</span
                            >
                        </p>
                    </a>
                </div>
                <img class="img" src="/img/link-logo-png.png"/>
            </div>
        </footer>
    </div>
</div>
</html>