<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" id='wrapper'>
    <div class="product">
        <div class="shop">
            <div class="heading-shop">Shop</div>
            <div class="link-home">Home</div>
            <div class="symbol"></div>
            <div class="text-wrapper-3">Shop</div>
        </div>
        <!--검색기능-->
        <form action="/item/list" method="get">
            <div class="section-form-input">
                <div class="div-placeholder">
                    <input type="text" id="pnameInput" name="pname" placeholder="Search...">
                    <button type="submit" class="section-form-button">검색</button>
                </div>
            </div>
        </form>
        <script>

            document.addEventListener('DOMContentLoaded', function() {
                var form = document.querySelector('form[action="/item/list"]');
                if (form) {
                    // 이전에 검색한 내용이 URL에 있다면 검색창에 설정
                    var url = new URL(window.location.href);
                    var pname = url.searchParams.get('pname');
                    var pnameInput = form.querySelector('#pnameInput');
                    if (pname && pnameInput) {
                        pnameInput.value = pname;
                    }

                    form.addEventListener('submit', function(event) {
                        event.preventDefault(); // 기본 제출 동작 방지

                        var pnameInput = form.querySelector('#pnameInput');
                        if (pnameInput) {
                            var pnameValue = pnameInput.value;
                            var url = new URL('/item/list', window.location.href);

                            // pname 파라미터 값 설정
                            url.searchParams.set('pname', pnameValue);

                            // 새 URL을 사용하여 페이지 이동 (또는 필요한 작업 수행)
                            window.location.href = url.toString();
                        }
                    });
                } else {
                    console.error("Form not found");
                }
            });

        </script>

        <!--카테고리-->
        <div class="view">
            <div class="overlap-group">
                <div class="link" onclick="toggleList()">
                    <div class="categories">CATEGORIES</div>
                </div>
                <div class="symbol-div-nice-select" onclick="toggleList()"></div>
            </div>
            <div class="div-card-body" id="listContainer" style="display: none;">
                <div class="list">
                    <div class="item-link-men" onclick="searchByCategory('Refrigerator')">Refrigerator</div>
                    <div class="item-link-women" onclick="searchByCategory('TV')">TV</div>
                    <div class="item-link-bags" onclick="searchByCategory('Laptop')">Laptop</div>
                    <div class="item-link-clothing" onclick="searchByCategory('Washing Machine')">Washing Machine</div>
                    <div class="item-link-shoes" onclick="searchByCategory('Air Purifie')">Air Purifier</div>
                    <div class="item-link" onclick="searchByCategory('Air Conditioner')">Air Conditioner</div>
                    <div class="frame">
                        <div class="item-link-kids">Cleaner</div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function toggleList() {
                var listContainer = document.getElementById("listContainer");
                if (listContainer.style.display === "none") {
                    listContainer.style.display = "block";
                } else {
                    listContainer.style.display = "none";
                }
            }

            function searchByCategory(pcate) {
                var form = document.querySelector('form[action="/item/list"]');
                if (form) {
                    var pnameInput = form.querySelector('#pnameInput');
                    if (pnameInput) {
                        var pnameValue = pnameInput.value;
                        var url = new URL('/item/list', window.location.href);

                        // 기존 pname 값이 있는 경우 해당 값을 유지하도록 설정
                        var existingPname = url.searchParams.get('pname');
                        if (existingPname !== null) {
                            pnameValue = existingPname;
                        }

                        // pname 파라미터 값 설정
                        url.searchParams.set('pname', pnameValue);

                        // pcate 파라미터 값 설정
                        url.searchParams.set('pcate', pcate);

                        window.location.href = url.toString();
                    }
                } else {
                    console.error("Form not found");
                }
            }



        </script>



        <!--오름차순 정렬-->
        <div class="view-2">
            <div class="text-wrapper-5">Sort by Price:</div>
            <div class="div-nice-select">
                <div class="text-wrapper-6">Low To High</div>
                <div class="pseudo"></div>
            </div>

            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const pseudoElement = document.querySelector('.pseudo');
                    const sortTextElement = document.querySelector('.text-wrapper-6');
                    let ascendingOrder = true;

                    // 페이지 로드 시 'sort' 값 확인하여 정렬 방식 설정
                    const urlParams = new URLSearchParams(window.location.search);
                    const currentSortOrder = urlParams.get('sort');
                    if (currentSortOrder === 'desc') {
                        ascendingOrder = false;
                        sortTextElement.textContent = 'High To Low';
                    }

                    pseudoElement.addEventListener('click', function() {
                        ascendingOrder = !ascendingOrder;
                        if (ascendingOrder) {
                            sortTextElement.textContent = 'Low To High';
                            updateURL('asc'); // 정렬 값을 'asc'로 지정하여 URL 업데이트
                        } else {
                            sortTextElement.textContent = 'High To Low';
                            updateURL('desc'); // 정렬 값을 'desc'로 지정하여 URL 업데이트
                        }
                    });

                    // URL 업데이트 함수 정의
                    function updateURL(sortOrder) {
                        urlParams.set('sort', sortOrder); // 'sort' 파라미터에 정렬 값을 설정
                        const currentUrl = window.location.pathname + '?' + urlParams.toString();
                        window.location.href = currentUrl; // 새로운 URL로 이동
                    }
                });


            </script>


            <th:block th:each="item, status: ${items.getContent()}">
                <div class="div-product-item">
                    <a th:href="@{/item/detail/} + ${item.id}">
                        <img th:src="${item.iimgurl}" class="div-product-item-pic" th:alt="${item.pname}">
                        <div class="heading-piqu-biker">[[${item.pname}]]</div>

                        <div th:if="${item.pstatus == T(com.mall.twins.twinsmall.constant.ItemSellStatus).SELL}" class="heading" data-th-text="| ${#numbers.formatInteger(item.pprice, 3, 'COMMA')} 원 |"></div>
                        <div th:if="${item.pstatus == T(com.mall.twins.twinsmall.constant.ItemSellStatus).SOLD_OUT}" class="heading">품절</div>
                    </a>
                </div>
            </th:block>


            <div class="div-wrapper">
                <div th:with="start=${(items.number/maxPage)*maxPage +1},
                        end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
                    <ul class="pagination justify - content - center">

                        <li class="page-item" th:classappend="${items.first}?'disabled'">
                            <a th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label='Previous' class="page-link">
                                <span aria-hidden='true'><</span>
                            </a>
                        </li>

                        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                            th:classappend="${items.number eq page - 1}?'active':''">
                            <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                        </li>

                        <li class="page-item" th:classappend="${items.last}?'disabled'">
                            <a th:onclick="'javascpript:page(' + ${items.number + 1 } + ')'" aria-label='Next'
                               class="page-link">
                                <span aria-hidden='true'>></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--<div class="div-wrapper">
                <div class="text-wrapper-7">1</div>
            </div>
            <div class="link-2">2</div>
            <div class="link-3">3</div>
            <div class="text-wrapper-8">...</div>
            <div class="link-4">21</div>-->

        </div>
    </div>
    <div class="footer">
        <footer class="footer">
            <div class="overlap-5">
                <div class="div-container">
                    <p class="based-on-the-life-s">Based on the &#39;Life&#39;s Good&#39; brand philosophy,</p>
                    <p class="text-wrapper-11">we always strives to provide First, Unique,</p>
                    <div class="overlap-6">
                        <p class="text-wrapper-12">and New F·U·N experiences to provide</p>
                        <p class="text-wrapper-13">customers with a better life.</p>
                    </div>
                    <a th:href="@{/templates/item/item.html}">
                        <div class="heading-shopping">SHOPPING</div>
                        <div class="list-item-link">Refrigerator</div>
                        <div class="list-item-link-2">TV</div>
                        <div class="list-item-link-3">Laptop</div>
                        <div class="list-item-link-sale">Washing Machine</div>
                        <div class="list-item-link-4">Air Purifier</div>
                        <div class="list-item-link-5">Air Conditioner</div>
                        <div class="list-item-link-6">Cleaner</div>
                        <div class="heading-newletter">OTHERS</div>
                        <div class="div-footer-copyright">
                            <div class="overlap-group-2">
                                <div class="text-wrapper-14">Copyright ©</div>
                                <p class="text-wrapper-15">20232020 All rights reserved | This template is made with</p>
                                <div class="symbol-3"></div>
                                <div class="by">by</div>
                                <div class="link-colorlib">Colorlib</div>
                            </div>
                        </div>
                        <div class="list-item-link-7">About us</div>
                        <div class="list-item-link-8">FAQ</div>
                        <div class="list-item-link-9">Contact</div>
                        <p class="element">
                <span class="span"
                >개인정보처리방침<br/>이벤트 개인정보처리방침<br/>영상정보처리기기운영관리방침<br/><br/>대표번호 :
                </span>
                            <a href="tel:02-3777-1114" target="_blank" rel="noopener noreferrer"
                            ><span class="text-wrapper-16">02-</span></a
                            >
                            <span class="span"
                            >1234-1234<br/>전화상담 시간은 평일 09:00 ~ 18:00 (주말, 공휴일 휴무) 입니다. (통화요금 :
                  발신자부담)<br/>제품 및 서비스 문의는 긴급 문의 건에 한해 24시간 운영합니다.<br/>주소 : 경기도
                  수원시 경기도 수원시 팔달구 덕영대로 899 (매산로 1가, 세진브론즈빌 304호)<br/><br/>본 사이트의 모든
                  콘텐츠는 저작권법의 보호를 받는 바, 무단 전재, 복사, 배포 등을 금합니다.</span
                            >
                        </p>
                    </a>
                </div>
                <img class="img" src="/img/link-logo-png.png"/>
            </div>
        </footer>
    </div>
</div>
</html>