<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="product">
        <div class="shop">
            <div class="heading-shop">Shop</div>
            <div class="link-home">Home</div>
            <div class="symbol"></div>
            <div class="text-wrapper-3">Shop</div>
        </div>
        <div class="section-form-input">
            <div class="div-placeholder">
                <div class="text-wrapper-4">Search...</div>
                <div class="section-form-button">U</div>
            </div>
        </div>
        <div class="view">
            <div class="overlap-group">
                <div class="link">
                    <div class="categories">CATEGORIES</div>
                </div>
                <div class="symbol-2"></div>
            </div>
            <div class="div-card-body">
                <div class="list">
                    <div class="item-link-men">Refrigerator</div>
                    <div class="item-link-women">TV</div>
                    <div class="item-link-bags">Laptop</div>
                    <div class="item-link-clothing">Washing Machine</div>
                    <div class="item-link-shoes">Air Purifier</div>
                    <div class="item-link">Air Conditioner</div>
                    <div class="frame">
                        <div class="item-link-kids">Cleaner</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-2">
            <p class="p">Showing 1–12 of 126 results</p>
            <div class="text-wrapper-5">Sort by Price:</div>
            <div class="div-nice-select">
                <div class="text-wrapper-6">Low To High</div>
                <div class="pseudo"></div>
            </div>

            <th:block th:each="item, status: ${items.getContent()}">
                <div class="div-product-item">
                    <img th:src="${item.iimgurl}" class="div-product-item-pic" th:alt="${item.pname}">
                    <div class="heading-piqu-biker">[[${item.pname}]]</div>
                    <div class="heading" data-th-text="| ${#numbers.formatInteger(item.pprice, 3, 'COMMA')} 원 |"></div>
                </div>
            </th:block>

            <!--<div class="div-wrapper">
                <div class="text-wrapper-7">1</div>
            </div>
            <div class="link-2">2</div>
            <div class="link-3">3</div>
            <div class="text-wrapper-8">...</div>
            <div class="link-4">21</div>-->
            <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
                <ul class="pagination justify-content-center">

                    <li class="div-wrapper" th:classappend="${items.number eq 0}?'disabled':''">
                        <a th:href="@{'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}" aria-label='Previous' class="text-wrapper-7">
                            <span aria-hidden='true'>Previous</span>
                        </a>
                    </li>

                    <li class="link-2" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                        <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
                    </li>

                    <li class="link-3" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                        <a th:href="@{'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">
                            <span aria-hidden='true'>Next</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        </div>
    </div>
</div>
</html>