<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="product-detail">
        <div class="image">
            <input type="hidden" id="itemId" th:value="${item.id}">
            <div class="div-container">
                <img class="tablist-item-tab"
                     th:if="${item.itemImgDtoList != null and item.itemImgDtoList.size() > 1 and item.itemImgDtoList[1] != null}"
                     th:style="'background-image: url(' + ${item.itemImgDtoList[1].iimgurl} + ')'">
                <img class="img"
                     th:if="${item.itemImgDtoList != null and item.itemImgDtoList.size() > 1 and item.itemImgDtoList[2] != null}"
                     th:style="'background-image: url(' + ${item.itemImgDtoList[2]?.iimgurl ?: ''} + ')'">
                <img class="tablist-item-tab-2"
                     th:if="${item.itemImgDtoList != null and item.itemImgDtoList.size() > 1 and item.itemImgDtoList[3] != null}"
                     th:style="'background-image: url(' + ${item.itemImgDtoList[3]?.iimgurl ?: ''} + ')'">
                <img class="i-fa-play-wrapper"
                     th:if="${item.itemImgDtoList != null and item.itemImgDtoList.size() > 1 and item.itemImgDtoList[4] != null}"
                     th:style="'background-image: url(' + ${item.itemImgDtoList[4]?.iimgurl ?: ''} + ')'">
                <img class="tabpanel-product-big"
                     th:style="'background-image: url(' + ${item.itemImgDtoList[0].iimgurl} + ')'">
            </div>
        </div>
        <div class="heading" data-th-text="|￦ ${#numbers.formatInteger(item.pprice, 3, 'COMMA')}  |"></div>

        <div class="input">
            <input type="number" name="count" id="count" class="div-pro-qty" value="1" min="1"
                   style="text-align : center">
        </div>

        <div class="link">
            <div class="text-wrapper-4">ADD TO CART</div>
        </div>
        <div class="heading-hooded">[[${item.pname}]]</div>
        <div class="link-2">
            <div class="text-wrapper-4">BUY</div>
        </div>
        <div class="frame">
            <div class="tabpanel-heading">상품 정보</div>
            <p class="tabpanel-a-pocket-PC">
                [[${item.pdesc}]]
            </p>
            <div class="item-tab">
                <div class="text-wrapper-5">상세 설명</div>
            </div>
        </div>
    </div>
</div>
</html>
