<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="admin-member">
        <div class="shop">
            <div class="heading-shop">Admin Page</div>
            <div class="overlap-group">
                <div class="link-home">관리자 페이지</div>
            </div>
        </div>
        <div class="text-wrapper-3">회원 목록</div>
        <div class="view">
            <div class="nav-list-item-link-4">상품정보</div>
            <a th:href="@{/item/register}">
                <div class="nav-list-item-link-5">상품등록</div>
            </a>
            <div class="nav-list-item-link-6">회원정보</div>
            <a th:href="@{/admin/memberList}">
                <div class="nav-list-item-link-7">회원목록</div>
            </a>
            <a th:href="@{/mypage/shipping/list}">
                <div class="nav-list-item-link-11">주문목록</div>
            </a>
            <div class="nav-list-item-link-8">서비스</div>
            <div class="nav-list-item-link-9">1:1문의</div>
            <div class="nav-list-item-link-10">리뷰</div>

        </div>

        <div class="frame">
            <div class="table">
                <div class="table-2">
                    <div class="row">
                        <div class="cell">
                            <div class="content">
                                <div class="text">번호</div>
                            </div>
                        </div>
                        <div class="content-wrapper">
                            <div class="content">
                                <div class="text">아이디</div>
                            </div>
                        </div>
                        <div class="div-wrapper">
                            <div class="content">
                                <div class="text">이름</div>
                            </div>
                        </div>
                        <div class="cell-2">
                            <div class="content">
                                <div class="text">이메일</div>
                            </div>
                        </div>
                        <div class="cell-7">
                            <div class="content">
                                <div class="text">생년월일</div>
                            </div>
                        </div>
                        <div class="cell-8">
                            <div class="content">
                                <div class="text">전화번호</div>
                            </div>
                        </div>
                    </div>
                    <th:block th:each="member, loop : ${members.dtoList}">
                        <div class="row-2">
                            <div class="cell-3">
                                <div class="content-2">
                                    <div th:text="${member.mno}" class="text-2"></div>
                                </div>
                            </div>
                            <div class="cell-4">
                                <div class="content-2">
                                    <div class="text-4">[[${member.mid}]]</div>
                                </div>
                            </div>

                            <div class="cell-5">
                                <div class="content-2">
                                    <div class="text-3"
                                         th:text="${member.mname}"></div>
                                </div>
                            </div>
                            <div class="cell-6">
                                <div class="content-2">
                                    <div class="text-5"
                                         th:text="${member.memail}"></div>
                                </div>
                            </div>
                            <div class="cell-9">
                                <div class="content-2">
                                    <div class="text-6"
                                         th:text="${member.mbirth}"></div>
                                </div>
                            </div>
                            <div class="cell-10">
                                <div class="content-2">
                                    <div class="text-7"
                                         th:text="${member.mphone}"></div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</html>