<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <!-- Css Styles -->
  <link rel="stylesheet" href="globals.css"/>
  <link rel="stylesheet" href="style.css"/>

</head>
<body>

<div th:replace="~{fragments/header::header}"></div>

<div layout:fragment="content" class="content"></div>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>