<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/aboutus.css}"/>
    <link rel="stylesheet" th:href="@{/css/checkout.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/itemRegister.css}"/>
    <link rel="stylesheet" th:href="@{/css/join.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/notice.css}"/>
    <link rel="stylesheet" th:href="@{/css/noticeDetail.css}"/>
    <link rel="stylesheet" th:href="@{/css/product.css}"/>
    <link rel="stylesheet" th:href="@{/css/productDetail.css}"/>
    <link rel="stylesheet" th:href="@{/css/cart.css}"/>
    <link rel="stylesheet" th:href="@{/css/order.css}"/>
    <link rel="stylesheet" th:href="@{/css/mypage.css}"/>
    <link rel="stylesheet" th:href="@{/css/order.css}"/>
    <link rel="stylesheet" th:href="@{/css/orderDetail.css}"/>
    <link rel="stylesheet" th:href="@{/css/shipping.css}"/>
    <link rel="stylesheet" th:href="@{/css/shippingRegister.css}"/>
    <link rel="stylesheet" th:href="@{/css/shippingModify.css}"/>
    <link rel="stylesheet" th:href="@{/css/shippingRead.css}"/>
    <link rel="stylesheet" th:href="@{/css/check-pwd.css}"/>
    <link rel="stylesheet" th:href="@{/css/check-pwd.css}"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

<div th:replace="~{fragments/header::header}"></div>

<div layout:fragment="content" class="content"></div>

<th:block layout:fragment="script"></th:block>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>