<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="notice-detail">
        <div class="top">
            <div class="heading-our-blog">Notice</div>
        </div>
        <div class="text-wrapper-3">공지사항</div>
        <form th:action="@{/notice/register}" th:method="post">
            <div class="frame">
                <div class="table">
                    <div class="table-2">
                        <div class="row">
                            <div class="cell">
                                <div class="content">
                                    <div class="text" th:text="${noticeFormDto.ntitle}" readonly></div>
                                </div>
                            </div>
                        </div>
                        <div class="cell-wrapper">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="text-2" th:text="${noticeFormDto.ncontent}" readonly></div>
                                </div>
                            </div>
                        </div>
                        <div class="div-wrapper">
                            <div class="content-wrapper">
                                <div class="content-2">
                                    <div class="text-3" th:text="${#temporals.format(noticeFormDto.regTime, 'yyyy/MM/dd')}" readonly></div>
                                    <div class="text-4" th:text="${#temporals.format(noticeFormDto.updateTime, 'yyyy/MM/dd')}" readonly></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frame-2">
                    <div class="text-wrapper-4">목록보기</div>
                </div>
                <div class="frame-3">
                    <div class="text-wrapper-5">삭제하기</div>
                </div>
                <div class="frame-4">
                    <div class="text-wrapper-4">수정하기</div>
                </div>
            </div>
        </form>
    </div>
</div>
</html>