<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="notice">
        <div class="top">
            <div class="heading-our-blog">Notice</div>
        </div>
        <div class="text-wrapper-3">공지사항</div>
        <div class="frame">
            <div class="text-wrapper-4">내용</div>
            <div class="text-wrapper-5">등록일</div>
            <div class="text-wrapper-6">번호</div>
            <div class="text-wrapper-7">조회수</div>
            <img class="line" src="/img/line-2.svg"/>
            <img class="img" src="/img/line-14.svg"/>
            <img class="line-2" src="/img/line-14.svg"/>
            <div class="text-wrapper-8">1</div>
            <div class="link">2</div>
            <div class="link-2">3</div>
            <div class="text-wrapper-9">...</div>
            <div class="link-3">21</div>
            <div class="list-item">
                <th:block th:each="notice, status: ${notice.getContent()}">
                    <div class="text-wrapper-10">[[${notice.nno}]]</div>
                    <div class="text-wrapper-11">[[${notice.ntitle}]]</div>
                    <div class="text-wrapper-12">[[${notice.regTime}]]</div>
                    <div class="text-wrapper-13">235</div>
                    <img class="line-3" src="/img/line-14.svg"/>
                </th:block>
            </div>

        </div>
        <div class="group">
            <button type="button" class="div-wrapper"><a th:href="@{/notice/register}" type="button"
                                                         class="text-wrapper-19">작성</a></button>
        </div>
    </div>
</div>
</html>