<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="css/notice.css" />
</head>
<body>
<div class="notice">
  <div class="div">
    <header class="header">
      <img class="link-logo-png" src="img/image.png" />
      <div class="nav-list-item-link">Home</div>
      <div class="text-wrapper">Shop</div>
      <div class="nav-list-item-link-2">Notice</div>
      <div class="nav-list-item-link-3">About us</div>
      <img class="icon-search" src="img/icon-search.png" />
      <img class="icon-favorite-border" src="img/icon-favorite-border.png" />
      <img class="icon-shopping-bag" src="img/icon-shopping-bag.png" />
      <img class="icon-person" src="img/icon-person.png" />
      <div class="div-header-top"><div class="text-wrapper-2">Welcome to Twin’s Mall</div></div>
    </header>
    <div class="top"><div class="heading-our-blog">Notice</div></div>
    <div class="text-wrapper-3">공지사항</div>
    <div class="view">
      <div class="group">
        <div class="overlap-group"><div class="text-wrapper-4">작성</div></div>
      </div>
    </div>
    <div class="div-2">
      <div class="link"><div class="text-wrapper-5">1</div></div>
      <div class="link-2">2</div>
      <div class="link-3">3</div>
      <div class="text-wrapper-6">...</div>
      <div class="link-4">21</div>
      <div class="table">
        <div class="table-2">
          <div class="row">
            <div class="cell">
              <div class="content"><div class="text">번호</div></div>
            </div>
            <div class="content-wrapper">
              <div class="div-wrapper"><div class="text">내용</div></div>
            </div>
            <div class="cell">
              <div class="content"><div class="text">등록일</div></div>
            </div>
            <div class="cell">
              <div class="content"><div class="text">조회수</div></div>
            </div>
          </div>
          <div class="row-2">
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-3">
              <div class="div-wrapper"><div class="text-3"></div></div>
            </div>
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-2">
              <div class="div-wrapper"><div class="text-4"></div></div>
            </div>
          </div>
          <div class="row-3">
            <div class="cell-4">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-5">
              <div class="div-wrapper"><div class="text-3"></div></div>
            </div>
            <div class="cell-4">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-4">
              <div class="div-wrapper"><div class="text-4"></div></div>
            </div>
          </div>
          <div class="row-4">
            <div class="cell-4">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-5">
              <div class="div-wrapper"><div class="text-3"></div></div>
            </div>
            <div class="cell-4">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-4">
              <div class="div-wrapper"><div class="text-4"></div></div>
            </div>
          </div>
          <div class="row-2">
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-3">
              <div class="div-wrapper"><div class="text-3"></div></div>
            </div>
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-2">
              <div class="div-wrapper"><div class="text-4"></div></div>
            </div>
          </div>
          <div class="row-2">
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-3">
              <div class="div-wrapper"><div class="text-3"></div></div>
            </div>
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-2">
              <div class="div-wrapper"><div class="text-4"></div></div>
            </div>
          </div>
          <div class="row-2">
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-3">
              <div class="div-wrapper"><div class="text-3"></div></div>
            </div>
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-2">
              <div class="div-wrapper"><div class="text-4"></div></div>
            </div>
          </div>
          <div class="row-2">
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-3">
              <div class="div-wrapper"><div class="text-3"></div></div>
            </div>
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-2">
              <div class="div-wrapper"><div class="text-4"></div></div>
            </div>
          </div>
          <div class="row-2">
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-3">
              <div class="div-wrapper"><div class="text-3"></div></div>
            </div>
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-2">
              <div class="div-wrapper"><div class="text-4"></div></div>
            </div>
          </div>
          <div class="row-2">
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-3">
              <div class="div-wrapper"><div class="text-3"></div></div>
            </div>
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-2">
              <div class="div-wrapper"><div class="text-4"></div></div>
            </div>
          </div>
          <div class="row-2">
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-3">
              <div class="div-wrapper"><div class="text-3"></div></div>
            </div>
            <div class="cell-2">
              <div class="content-2"><div class="text-2"></div></div>
            </div>
            <div class="cell-2">
              <div class="div-wrapper"><div class="text-4"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="overlap">
        <div class="div-container">
          <p class="based-on-the-life-s">Based on the &#39;Life&#39;s Good&#39; brand philosophy,</p>
          <p class="p">we always strives to provide First, Unique,</p>
          <div class="overlap-2">
            <p class="text-wrapper-7">and New F·U·N experiences to provide</p>
            <p class="text-wrapper-8">customers with a better life.</p>
          </div>
          <div class="heading-shopping">SHOPPING</div>
          <div class="list-item-link">Refrigerator</div>
          <div class="list-item-link-2">TV</div>
          <div class="list-item-link-3">Laptop</div>
          <div class="list-item-link-sale">Washing Machine</div>
          <div class="list-item-link-4">Air Purifier</div>
          <div class="list-item-link-5">Air Conditioner</div>
          <div class="list-item-link-6">Cleaner</div>
          <div class="heading-newletter">OTHERS</div>
          <div class="div-footer-copyright">
            <div class="overlap-group-2">
              <div class="text-wrapper-9">Copyright ©</div>
              <p class="text-wrapper-10">20232020 All rights reserved | This template is made with</p>
              <div class="symbol"></div>
              <div class="by">by</div>
              <div class="link-colorlib">Colorlib</div>
            </div>
          </div>
          <div class="list-item-link-7">About us</div>
          <div class="list-item-link-8">FAQ</div>
          <div class="list-item-link-9">Contact</div>
          <p class="element">
                <span class="span"
                >개인정보처리방침<br />이벤트 개인정보처리방침<br />영상정보처리기기운영관리방침<br /><br />대표번호 :
                </span>
            <a href="tel:02-3777-1114" target="_blank" rel="noopener noreferrer"
            ><span class="text-wrapper-11">02-</span></a
            >
            <span class="span"
            >1234-1234<br />전화상담 시간은 평일 09:00 ~ 18:00 (주말, 공휴일 휴무) 입니다. (통화요금 :
                  발신자부담)<br />제품 및 서비스 문의는 긴급 문의 건에 한해 24시간 운영합니다.<br />주소 : 경기도
                  수원시 경기도 수원시 팔달구 덕영대로 899 (매산로 1가, 세진브론즈빌 304호)<br /><br />본 사이트의 모든
                  콘텐츠는 저작권법의 보호를 받는 바, 무단 전재, 복사, 배포 등을 금합니다.</span
            >
          </p>
        </div>
        <img class="img" src="img/link-logo-png.png" />
      </div>
    </footer>
  </div>
</div>
</body>
</html>
