<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="notice-detail">
        <div class="top">
            <div class="heading-our-blog">Notice</div>
        </div>
        <div class="text-wrapper-3">공지사항</div>
        <form th:action="@{/notice/register}" th:method="post">
            <div class="frame">
                <div class="table">
                    <div class="table-2">
                        <div class="row">
                            <div class="cell">
                                <div class="content">
                                    <div class="text" name="notice_title" th:if="${noticeFormDto != null}" th:text="${noticeFormDto.ntitle}" readonly></div>
                                    <input class="text" th:type="hidden" name="notice_view" th:if="${noticeFormDto != null}" th:text="${noticeFormDto.view}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="cell-wrapper">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="text-2" name="notice_content" th:if="${noticeFormDto != null}" th:text="${noticeFormDto.ncontent}"
                                         readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div-wrapper">
                            <div class="content-wrapper">
                                <div class="content-2">
                                    <h3>등록일&nbsp : &nbsp</h3>
                                    <div class="text-3" name="regTime" th:if="${noticeFormDto != null}"
                                         th:text="${#temporals.format(noticeFormDto.regTime, 'yyyy/MM/dd')}"
                                         readonly></div>
                                    <h3>수정일&nbsp : &nbsp</h3>
                                    <div class="text-4" name="modTime" th:if="${noticeFormDto != null}"
                                         th:text="${#temporals.format(noticeFormDto.updateTime, 'yyyy/MM/dd')}"
                                         readonly>수정일</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frame-22">
                    <a th:href="@{/notice/list}" class="text-wrapper-55">목록보기</a>
                </div>
                <li sec:authorize="hasAnyAuthority('ADMIN')">
                <div class="frame-44">
                    <a th:href="@{/notice/modify(nno = ${noticeFormDto.nno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
                        <button type="button" class="text-wrapper-4 editBtn">수정하기</button>
                    </a>
                </div>
                </li>
            </div>
        </form>
    </div>
</div>
</html>