<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="script">
    <script type="text/javascript">

        /* 회원 가입이 실패했다면 에러 메시지를 경고창으로 보여줌 */
        $(document).ready(function () {

            var errorMessage = "[[${errorMessage}]]";

            console.log(errorMessage);

            if (errorMessage !== "null" && errorMessage !== "") {
                alert(errorMessage);
            }
        });


    </script>
</div>
<div layout:fragment="content">

    <style>
        .footer .footer {
            top: 1500px;
        }
    </style>

    <div class="join">
        <div class="top">
            <div class="heading-check-out">Join</div>
            <div class="overlap-group">
                <div class="link-home">회원가입</div>
            </div>
        </div>
        <div class="details">
            <form action="/member/join" role="form" method="post" th:object="${memberJoinDto}">
                <div class="heading">
                    <p class="p">아직 회원이 아니신가요? 가입하고 특별한 혜택을 누려보세요!</p>
                    <img class="family" src="/img/family.png"/>
                </div>
                <div class="div-wrapper">
                    <p class="div-2"><span class="span">*</span> <span class="text-wrapper-3">은 필수입력입니다.</span></p>
                </div>
                <div class="overlap">
                    <div class="text-wrapper-4">아이디</div>
                    <div class="text-wrapper-5">*</div>
                </div>
                <input class="input" th:field="*{mid}" type="text" placeholder="아이디를 입력해주세요">
                <p th:if="${#fields.hasErrors('mid')}" th:errors="*{mid}" class="fieldError">Incorrect data</p>
                <div class="overlap-2">
                    <div class="text-wrapper-6">비밀번호</div>
                    <div class="text-wrapper-7">*</div>
                </div>
                <input class="input-2" th:field="*{mpw}" type="password" placeholder="비밀번호를 입력해주세요">
                <div th:if="${#fields.hasErrors('mpw')}" th:errors="*{mpw}" class="fieldError2"></div>
                <div class="overlap-6">
                    <div class="text-wrapper-15">이름</div>
                    <div class="text-wrapper-16">*</div>
                </div>
                <input type="text" th:field="*{mname}" class="input-6" placeholder="이름을 입력해주세요">
                <p th:if="${#fields.hasErrors('mname')}" th:errors="*{mname}" class="fieldError5">Incorrect data</p>
                <div class="overlap-3">
                    <div class="text-wrapper-8">핸드폰번호</div>
                    <div class="text-wrapper-9">*</div>
                </div>
                <input type="text" th:field="*{mphone}" class="input-3" placeholder="핸드폰번호를 입력해주세요">
                <p th:if="${#fields.hasErrors('mphone')}" th:errors="*{mphone}" class="fieldError3">Incorrect
                    data</p>
                <div class="overlap-4">
                    <div class="text-wrapper-10">Email</div>
                    <div class="text-wrapper-11">*</div>
                </div>
                <input type="email" th:field="*{memail}" class="input-4" placeholder="ex) email@naver.com">
                <p th:if="${#fields.hasErrors('memail')}" th:errors="*{memail}" class="fieldError4">Incorrect
                    data</p>
                <!--<div class="group">
                    <div class="overlap-group-2">
                        <div class="text-wrapper-12">중복확인</div>
                    </div>
                </div>-->
                <div class="overlap-5">
                    <div class="text-wrapper-13">비밀번호 확인</div>
                    <div class="text-wrapper-14">*</div>
                </div>
                <input type="password" th:field="*{mpw_confirm}" class="input-5" placeholder="비밀번호를 한번 더 입력해주세요">
                <p id="passwordMismatchError" class="fieldError7" th:if="${#fields.hasErrors('mpw_confirm')}" th:errors="*{mpw_confirm}"></p>
                <div class="text-wrapper-17">생년월일</div>
                <div class="text-wrapper-18">*</div>
                <input type="text" th:field="*{mbirth}" class="input-7" placeholder="ex) 20021014">
                <p th:if="${#fields.hasErrors('mbirth')}" th:errors="*{mbirth}" class="fieldError6">Incorrect
                    data</p>
                <div class="frame-2">
                    <a th:href="@{/index}" class="text-wrapper-20">취소하기</a>
                </div>
                <div class="frame">
                    <button class="text-wrapper-19" type="reset">다시 입력</button>
                </div>
                <div class="frame-3">
                    <button type="submit" class="text-wrapper-19">가입하기</button>
                </div>
            </form>
        </div>
    </div>
</div>

</html>