<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" id='wrapper'>

    <div class="shipping-read">
        <div class="shop">
            <div class="heading-shop">Shipping</div>
            <div class="link-home">배송지정보</div>
        </div>
        <div class="view">
            <div class="nav-list-item-link-4">주문정보</div>
            <div class="nav-list-item-link-5">주문목록</div>
            <div class="nav-list-item-link-6">회원정보</div>
            <div class="nav-list-item-link-7">내정보</div>
            <div class="nav-list-item-link-8">서비스</div>
            <div class="nav-list-item-link-9">1:1문의</div>
            <div class="nav-list-item-link-10">나의 리뷰</div>
            <div class="nav-list-item-link-11">배송지 정보</div>
        </div>
        <div class="div-wrapper">
            <div class="text-wrapper-3">나의 배송지</div>
        </div>
        <div class="details">
            <div class="frame">
                <div class="overlap-group">
                    <div class="text-wrapper-4">배송지명</div>
                    <div class="text-wrapper-5">*</div>
                </div>
                <div class="input"></div>
            </div>
            <div class="frame-2">
                <div class="text-wrapper-6">기본배송지</div>
                <div class="frame-3">
                    <div class="radio-button">
                        <div class="frame-4">
                            <div class="ellipse-wrapper">
                                <div class="ellipse"></div>
                            </div>
                        </div>
                    </div>
                    <div class="text-wrapper-7">예</div>
                    <div class="frame-wrapper">
                        <div class="frame-4">
                            <div class="ellipse-2"></div>
                        </div>
                    </div>
                    <div class="text-wrapper-8">아니오</div>
                </div>
            </div>
            <div class="frame-5">
                <div class="overlap">
                    <div class="text-wrapper-9">받는분</div>
                    <div class="text-wrapper-10">*</div>
                </div>
                <div class="input"></div>
            </div>
            <div class="frame-6">
                <div class="overlap-2">
                    <div class="text-wrapper-11">받는분 H.P</div>
                    <div class="text-wrapper-12">*</div>
                </div>
                <div class="input"></div>
            </div>
            <div class="frame-7">
                <div class="overlap-3">
                    <div class="text-wrapper-13">우편번호</div>
                    <div class="text-wrapper-5">*</div>
                </div>
                <div class="input-2"></div>
            </div>
            <div class="frame-8">
                <div class="overlap-4">
                    <div class="text-wrapper-14">주소</div>
                    <div class="text-wrapper-15">*</div>
                </div>
                <div class="input-3"></div>
            </div>
            <div class="frame-9">
                <div class="overlap-5">
                    <div class="text-wrapper-4">상세주소</div>
                    <div class="text-wrapper-16">*</div>
                </div>
                <div class="input-3"></div>
            </div>
            <div class="frame-10">
                <div class="frame-11">
                    <div class="text-wrapper-17">목록보기</div>
                </div>
                <div class="frame-12">
                    <div class="text-wrapper-18">삭제하기</div>
                </div>
                <div class="frame-13">
                    <div class="text-wrapper-17">수정하기</div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>