<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" id='wrapper'>

    <div class="mypage-shipping">
        <div class="shop">
            <div class="heading-shop">Shipping</div>
            <div class="link-home">배송지정보</div>
        </div>
        <div class="view">
            <div class="nav-list-item-link-4">주문정보</div>
            <a th:href="@{/orders}">
                <div class="nav-list-item-link-5">주문내역</div>
            </a>
            <div class="nav-list-item-link-6">회원정보</div>
            <a th:href="@{/mypage/read}">
                <div class="nav-list-item-link-7">내정보</div>
            </a>
            <a th:href="@{/mypage/shipping/list}">
            <div class="nav-list-item-link-11">배송지 정보</div>
            </a>
            <div class="nav-list-item-link-8">서비스</div>
            <div class="nav-list-item-link-9">1:1문의</div>
            <div class="nav-list-item-link-10">나의 리뷰</div>

        </div>
        <div class="div-wrapper">
            <div class="text-wrapper-3">나의 배송지 정보</div>
        </div>
        <div class="view-2">
            <div class="row">
                <div class="cell">
                    <div class="content">
                        <div class="text">배송지명</div>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="content">
                        <div class="text">받는 분</div>
                    </div>
                </div>
                <div class="cell-2">
                    <div class="content">
                        <div class="text">주소</div>
                    </div>
                </div>
                <div class="cell-3">
                    <div class="content">
                        <div class="text">우편번호</div>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="content">
                        <div class="text">기본배송지</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell-4">
                    <div class="content">
                        <div class="text-2">집</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">고은해</div>
                    </div>
                </div>
                <div class="cell-6">
                    <div class="content-2"><p class="text-2">경기 수원시 권선구 세화로 168번길 15</p></div>
                </div>
                <div class="cell-7">
                    <div class="content">
                        <div class="text-2">16620</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">Y</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell-4">
                    <div class="content">
                        <div class="text-2">집</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">고은해</div>
                    </div>
                </div>
                <div class="cell-6">
                    <div class="content-2"><p class="text-2">경기 수원시 권선구 세화로 168번길 15</p></div>
                </div>
                <div class="cell-7">
                    <div class="content">
                        <div class="text-2">16620</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">Y</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell-4">
                    <div class="content">
                        <div class="text-2">집</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">고은해</div>
                    </div>
                </div>
                <div class="cell-6">
                    <div class="content-2"><p class="text-2">경기 수원시 권선구 세화로 168번길 15</p></div>
                </div>
                <div class="cell-7">
                    <div class="content">
                        <div class="text-2">16620</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">Y</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell-4">
                    <div class="content">
                        <div class="text-2">집</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">고은해</div>
                    </div>
                </div>
                <div class="cell-6">
                    <div class="content-2"><p class="text-2">경기 수원시 권선구 세화로 168번길 15</p></div>
                </div>
                <div class="cell-7">
                    <div class="content">
                        <div class="text-2">16620</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">Y</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell-4">
                    <div class="content">
                        <div class="text-2">집</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">고은해</div>
                    </div>
                </div>
                <div class="cell-6">
                    <div class="content-2"><p class="text-2">경기 수원시 권선구 세화로 168번길 15</p></div>
                </div>
                <div class="cell-7">
                    <div class="content">
                        <div class="text-2">16620</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">Y</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell-4">
                    <div class="content">
                        <div class="text-2">집</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">고은해</div>
                    </div>
                </div>
                <div class="cell-6">
                    <div class="content-2"><p class="text-2">경기 수원시 권선구 세화로 168번길 15</p></div>
                </div>
                <div class="cell-7">
                    <div class="content">
                        <div class="text-2">16620</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">Y</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell-4">
                    <div class="content">
                        <div class="text-2">집</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">고은해</div>
                    </div>
                </div>
                <div class="cell-6">
                    <div class="content-2"><p class="text-2">경기 수원시 권선구 세화로 168번길 15</p></div>
                </div>
                <div class="cell-7">
                    <div class="content">
                        <div class="text-2">16620</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">Y</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell-4">
                    <div class="content">
                        <div class="text-2">집</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">고은해</div>
                    </div>
                </div>
                <div class="cell-6">
                    <div class="content-2"><p class="text-2">경기 수원시 권선구 세화로 168번길 15</p></div>
                </div>
                <div class="cell-7">
                    <div class="content">
                        <div class="text-2">16620</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">Y</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell-4">
                    <div class="content">
                        <div class="text-2">집</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">고은해</div>
                    </div>
                </div>
                <div class="cell-6">
                    <div class="content-2"><p class="text-2">경기 수원시 권선구 세화로 168번길 15</p></div>
                </div>
                <div class="cell-7">
                    <div class="content">
                        <div class="text-2">16620</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">Y</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell-4">
                    <div class="content">
                        <div class="text-2">집</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">고은해</div>
                    </div>
                </div>
                <div class="cell-6">
                    <div class="content-2"><p class="text-2">경기 수원시 권선구 세화로 168번길 15</p></div>
                </div>
                <div class="cell-7">
                    <div class="content">
                        <div class="text-2">16620</div>
                    </div>
                </div>
                <div class="cell-5">
                    <div class="content">
                        <div class="text-2">Y</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>