<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" id='wrapper'>

    <div class="mypage-shipping">
        <div class="shop">
            <div class="heading-shop">Shipping</div>
            <div class="link-home">배송지정보</div>
        </div>
        <div class="view">
            <div class="nav-list-item-link-4">주문정보</div>
            <div class="nav-list-item-link-5">주문목록</div>
            <div class="nav-list-item-link-6">회원정보</div>
            <div class="nav-list-item-link-7">내정보</div>
            <div class="nav-list-item-link-8">서비스</div>
            <div class="nav-list-item-link-9">1:1문의</div>
            <div class="nav-list-item-link-10">나의 리뷰</div>
            <div class="nav-list-item-link-11">배송지 정보</div>
        </div>
        <div class="div-wrapper">
            <div class="text-wrapper-3">나의 배송지 정보</div>
        </div>
        <div class="frame-12">
            <a th:href="@{/mypage/shipping/register}" class="text-wrapper-18">등록하기</a>
            <!--<button type="button" class="text-wrapper-18 removeLink"></button>-->
        </div>
        <div class="view-2">
            <div class="row">
                <div class="cell">
                    <div class="content">
                        <div class="text">배송지명</div>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="content">
                        <div class="text">받는 분</div>
                    </div>
                </div>
                <div class="cell-2">
                    <div class="content">
                        <div class="text">주소</div>
                    </div>
                </div>
                <div class="cell-3">
                    <div class="content">
                        <div class="text">우편번호</div>
                    </div>
                </div>
            </div>

            <!--배송지 출력-->
            <th:block th:each="ShippingDto : ${shippingDTO}">

                <input type="hidden" name="sno" th:value="${ShippingDto.sno}">

                <div class="row">
                    <div class="cell-4">
                        <div class="content">
                            <a class="text-2" th:href="@{/mypage/shipping/read(sno=${ShippingDto.sno})}">[[${ShippingDto.sname}]]</a>
                        </div>
                    </div>
                    <div class="cell-5">
                        <div class="content">
                            <div class="text-2">[[${ShippingDto.sperson}]]</div>
                        </div>
                    </div>
                    <div class="cell-6">
                        <div class="content-2">
                            <a class="text-2" th:href="@{/mypage/shipping/read(sno=${ShippingDto.sno})}">[[${ShippingDto.address}]]
                            </a>
                        </div>
                    </div>
                    <div class="cell-7">
                        <div class="content">
                            <div class="text-2">[[${ShippingDto.zonecode}]]</div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</div>
</div>
</html>