<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" id='wrapper'>

    <div class="shipping-read">
        <div class="shop">
            <div class="heading-shop">Shipping</div>
            <div class="link-home">배송지정보</div>
        </div>
        <div class="view">
            <div class="nav-list-item-link-4">주문정보</div>
            <div class="nav-list-item-link-5">주문목록</div>
            <div class="nav-list-item-link-6">회원정보</div>
            <div class="nav-list-item-link-7">내정보</div>
            <div class="nav-list-item-link-8">서비스</div>
            <div class="nav-list-item-link-9">1:1문의</div>
            <div class="nav-list-item-link-10">나의 리뷰</div>
            <div class="nav-list-item-link-11">배송지 정보</div>
        </div>
        <div class="div-wrapper">
            <div class="text-wrapper-3">나의 배송지</div>
        </div>
        <div class="details">
            <div class="frame">
                <input type="hidden" name="sno" id="snoValue" th:value="${shippingDto.sno}">
                <div class="overlap-group">
                    <div class="text-wrapper-4">배송지명</div>
                    <div class="text-wrapper-5">*</div>
                </div>
                <input type="text" class="input" name="sname" th:value="${shippingDto.sname}" readonly>
            </div>
            <div class="frame-5">
                <div class="overlap">
                    <div class="text-wrapper-9">받는분</div>
                    <div class="text-wrapper-10">*</div>
                </div>
                <input type="text" class="input" name="sperson" th:value="${shippingDto.sperson}" readonly>
            </div>
            <div class="frame-6">
                <div class="overlap-2">
                    <div class="text-wrapper-11">받는분 H.P</div>
                    <div class="text-wrapper-12">*</div>
                </div>
                <input type="text" class="input" name="sphone" th:value="${shippingDto.sphone}" readonly>
            </div>
            <div class="frame-7">
                <div class="overlap-3">
                    <div class="text-wrapper-13">우편번호</div>
                    <div class="text-wrapper-5">*</div>
                </div>
                <input type="text" class="input" name="zonecode" th:value="${shippingDto.zonecode}" readonly>
            </div>
            <div class="frame-8">
                <div class="overlap-4">
                    <div class="text-wrapper-14">주소</div>
                    <div class="text-wrapper-15">*</div>
                </div>
                <input type="text" class="input" name="address" th:value="${shippingDto.address}" readonly>
            </div>
            <div class="frame-9">
                <div class="overlap-5">
                    <div class="text-wrapper-4">상세주소</div>
                    <div class="text-wrapper-16">*</div>
                </div>
                <input type="text" class="input" name="saddress" th:value="${shippingDto.saddress}" readonly>
            </div>
            <div class="frame-10">
                <div class="frame-12">
                    <a href="#" class="text-wrapper-18 removeLink">삭제하기</a>
                    <!--<button type="button" class="text-wrapper-18 removeLink">삭제하기</button>-->
                </div>
                <div class="frame-11">
                    <div th:href="@{mypage/shipping/list}" class="text-wrapper-17">목록보기</div>
                </div>
                <div class="frame-13">
                    <a class="text-wrapper-17 modifiy" th:href="@{/mypage/shipping/modify(sno = ${shippingDto.sno})}">수정하기</a>
                </div>
            </div>
        </div>
    </div>

    <div class="shippingRead-footer">
        <footer class="footer">
            <div class="overlap-5">
                <div class="div-container">
                    <p class="based-on-the-life-s">Based on the &#39;Life&#39;s Good&#39; brand philosophy,</p>
                    <p class="text-wrapper-11">we always strives to provide First, Unique,</p>
                    <div class="overlap-6">
                        <p class="text-wrapper-12">and New F·U·N experiences to provide</p>
                        <p class="text-wrapper-13">customers with a better life.</p>
                    </div>
                    <a th:href="@{/templates/item/item.html}">
                        <div class="heading-shopping">SHOPPING</div>
                        <div class="list-item-link">Refrigerator</div>
                        <div class="list-item-link-2">TV</div>
                        <div class="list-item-link-3">Laptop</div>
                        <div class="list-item-link-sale">Washing Machine</div>
                        <div class="list-item-link-4">Air Purifier</div>
                        <div class="list-item-link-5">Air Conditioner</div>
                        <div class="list-item-link-6">Cleaner</div>
                        <div class="heading-newletter">OTHERS</div>
                        <div class="div-footer-copyright">
                            <div class="overlap-group-2">
                                <div class="text-wrapper-14">Copyright ©</div>
                                <p class="text-wrapper-15">20232020 All rights reserved | This template is made with</p>
                                <div class="symbol-3"></div>
                                <div class="by">by</div>
                                <div class="link-colorlib">Colorlib</div>
                            </div>
                        </div>
                        <div class="list-item-link-7">About us</div>
                        <div class="list-item-link-8">FAQ</div>
                        <div class="list-item-link-9">Contact</div>
                        <p class="element">
                <span class="span"
                >개인정보처리방침<br/>이벤트 개인정보처리방침<br/>영상정보처리기기운영관리방침<br/><br/>대표번호 :
                </span>
                            <a href="tel:02-3777-1114" target="_blank" rel="noopener noreferrer"
                            ><span class="text-wrapper-16">02-</span></a
                            >
                            <span class="span"
                            >1234-1234<br/>전화상담 시간은 평일 09:00 ~ 18:00 (주말, 공휴일 휴무) 입니다. (통화요금 :
                  발신자부담)<br/>제품 및 서비스 문의는 긴급 문의 건에 한해 24시간 운영합니다.<br/>주소 : 경기도
                  수원시 경기도 수원시 팔달구 덕영대로 899 (매산로 1가, 세진브론즈빌 304호)<br/><br/>본 사이트의 모든
                  콘텐츠는 저작권법의 보호를 받는 바, 무단 전재, 복사, 배포 등을 금합니다.</span
                            >
                        </p>
                    </a>
                </div>
                <img class="img" src="/img/link-logo-png.png"/>
            </div>
        </footer>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            $(".removeLink").click(function (e) {
                e.preventDefault(); // 기본 동작(링크 이동) 방지

                var confirmDelete = confirm("삭제하시겠습니까?");
                if (confirmDelete) {
                    var sno = $("#snoValue").val(); // 값을 가져옴
                    $.ajax({
                        type: "POST",
                        url: "/mypage/shipping/remove",
                        data: { sno: sno }, // 요청 데이터 형식 지정
                        success: function(response) {
                            // 삭제 성공 시 처리할 내용
                            alert("삭제되었습니다.");
                            window.location.href = "/mypage/shipping/list";

                        },
                        error: function(xhr, status, error) {
                            // 오류 발생 시 처리할 내용
                            console.error(error);
                            alert("삭제를 실패했습니다.");
                        }
                    });
                }
            });
        });
    </script>


</div>

</html>