<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" id='wrapper'>

    <div class="shipping-read">
        <div class="shop">
            <div class="heading-shop">Shipping</div>
            <div class="link-home">배송지정보</div>
        </div>
        <div class="view">
            <div class="nav-list-item-link-4">주문정보</div>
            <div class="nav-list-item-link-5">주문목록</div>
            <div class="nav-list-item-link-6">회원정보</div>
            <div class="nav-list-item-link-7">내정보</div>
            <div class="nav-list-item-link-8">서비스</div>
            <div class="nav-list-item-link-9">1:1문의</div>
            <div class="nav-list-item-link-10">나의 리뷰</div>
            <div class="nav-list-item-link-11">배송지 정보</div>
        </div>
        <div class="div-wrapper">
            <div class="text-wrapper-3">나의 배송지</div>
        </div>
        <div class="details">
            <div class="frame">
                <input type="hidden" name="sno" id="snoValue" th:value="${shippingDto.sno}">
                <div class="overlap-group">
                    <div class="text-wrapper-4">배송지명</div>
                    <div class="text-wrapper-5">*</div>
                </div>
                <input type="text" class="input" name="sname" th:value="${shippingDto.sname}" readonly>
            </div>
            <div class="frame-5">
                <div class="overlap">
                    <div class="text-wrapper-9">받는분</div>
                    <div class="text-wrapper-10">*</div>
                </div>
                <input type="text" class="input" name="sperson" th:value="${shippingDto.sperson}" readonly>
            </div>
            <div class="frame-6">
                <div class="overlap-2">
                    <div class="text-wrapper-11">받는분 H.P</div>
                    <div class="text-wrapper-12">*</div>
                </div>
                <input type="text" class="input" name="sphone" th:value="${shippingDto.sphone}" readonly>
            </div>
            <div class="frame-7">
                <div class="overlap-3">
                    <div class="text-wrapper-13">우편번호</div>
                    <div class="text-wrapper-5">*</div>
                </div>
                <input type="text" class="input" name="zonecode" th:value="${shippingDto.zonecode}" readonly>
            </div>
            <div class="frame-8">
                <div class="overlap-4">
                    <div class="text-wrapper-14">주소</div>
                    <div class="text-wrapper-15">*</div>
                </div>
                <input type="text" class="input" name="address" th:value="${shippingDto.address}" readonly>
            </div>
            <div class="frame-9">
                <div class="overlap-5">
                    <div class="text-wrapper-4">상세주소</div>
                    <div class="text-wrapper-16">*</div>
                </div>
                <input type="text" class="input" name="saddress" th:value="${shippingDto.saddress}" readonly>
            </div>
            <div class="frame-10">
                <div class="frame-12">
                    <a href="#" class="text-wrapper-18 removeLink">삭제하기</a>
                    <!--<button type="button" class="text-wrapper-18 removeLink">삭제하기</button>-->
                </div>
                <div class="frame-11">
                    <div th:href="@{mypage/shipping/list}" class="text-wrapper-17">목록보기</div>
                </div>
                <div class="frame-13">
                    <a class="text-wrapper-17 modifiy" th:href="@{/mypage/shipping/modify(sno = ${shippingDto.sno})}">수정하기</a>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            $(".removeLink").click(function (e) {
                e.preventDefault(); // 기본 동작(링크 이동) 방지

                var confirmDelete = confirm("삭제하시겠습니까?");
                if (confirmDelete) {
                    var sno = $("#snoValue").val(); // 값을 가져옴
                    $.ajax({
                        type: "POST",
                        url: "/mypage/shipping/remove",
                        data: { sno: sno }, // 요청 데이터 형식 지정
                        success: function(response) {
                            // 삭제 성공 시 처리할 내용
                            alert("삭제되었습니다.");
                            window.location.href = "/mypage/shipping/list";

                        },
                        error: function(xhr, status, error) {
                            // 오류 발생 시 처리할 내용
                            console.error(error);
                            alert("삭제를 실패했습니다.");
                        }
                    });
                }
            });
        });
    </script>


</div>
</body>
</html>