<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">

<div th:fragment="header">
    <div class="header">
        <div class="div">
            <header class="header">
                <div class="frame"><img class="link-logo-png" src="img/link-logo-png.png"/></div>
                <div class="navbar">
                    <div class="nav-list-item-link" href="/" >Home</div>
                    <div class="text-wrapper" href="#">About us</div>
                    <div class="nav-list-item-link-2" href="/product">Shop</div>
                    <div class="nav-list-item-link-3" href="#">Notice</div>
                </div>
                <a href="#">
                    <img class="icon-search" src="img/icon-search.png"/></a>
                <a href="#">
                    <img class="icon-favorite-border" src="img/icon-favorite-border.png"/></a>
                <a href="#">
                    <img class="icon-shopping-bag" src="img/icon-shopping-bag.png"/></a>
                <a href="/login">
                    <img class="icon-person" src="img/icon-person.png"/></a>
                <div class="div-header-top">
                    <div class="text-wrapper-2">Welcome to Twin’s Mall</div>
                </div>
            </header>
        </div>
    </div>
</div>
</html>