<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="cart">
        <div class="top">
            <div class="heading-shopping">Shopping Cart</div>
            <div class="overlap-group">
                <div class="link-home">장바구니</div>
            </div>
        </div>
        <div class="view">
            <!--<form method="post" th:action="@{/checkout}">-->
            <div class="table-header">
                <div class="row-cell-checkall2"><input class="row-cell-checkall" type="checkbox" id="checkall"
                                                       onclick="checkAll()">전체 선택
                </div>
                <div class="row-cell-product">상품명</div>
                <div class="row-cell-quantity">수량</div>
                <div class="row-cell-total">총가격</div>
            </div>
            <th:block th:each="cartItem : ${cartItems}">
                <div class="table-body-row">
                    <input class="row-cell-checkall3" type="checkbox" name="cartChkBox"
                           th:value="${cartItem.getCartItemId()}">
                    <img class="data-cart-jpg" th:src="${cartItem.imgUrl}" th:alt="${cartItem.itemNm}"
                         th:attr="data-itemnm=${cartItem.itemNm}"/>
                    <div class="data">
                        <div class="heading-t-shirt"><span th:id="'itemNm_' + ${cartItem.cartItemId}"
                                                           th:data-name="${cartItem.itemNm}" th:text="${cartItem.itemNm}"></span></div>
                        <div class="heading">
                            <span th:id="'price_' + ${cartItem.cartItemId}" th:data-price="${cartItem.price}"
                                  data-th-text="| ${#numbers.formatInteger(cartItem.price, 3, 'COMMA')} 원 |" style="display: none;">
                            </span><!-- 화면에는 출력하지 않음-->
                        </div>
                    </div>
                    <div class="data-input">
                        <div class="div-wrapper">
                            <div class="text-wrapper-3">
                                <input type="number" name="count" th:id="'count_' + ${cartItem.cartItemId}"
                                       th:value="${cartItem.count}"
                                       min="1" onchange="changeCount(this)" class="text-wrapper-3">
                            </div>
                        </div>
                    </div>
                    <div class="data-2">
                    <span th:id="'totalPrice_' + ${cartItem.cartItemId}" class="totalPrice"
                          name="totalPrice"
                          data-th-text="| ${#numbers.formatInteger(cartItem.price * cartItem.count, 3, 'COMMA')} 원 |">
                    </span>
                    </div>
                    <div class="symbol-wrapper">
                        <button type="button" aria-label="Close">
                            <span aria-hidden="true" th:data-id="${cartItem.cartItemId}"
                                  onclick="deleteCartItem(this)">X</span>
                        </button>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="div-cart-total-wrapper">
            <div class="div-cart-total">
                <div class="heading-cart-total">총 주문금액</div>
                <div class="list-item-2">
                    <div class="text-wrapper-6">Total</div>
                    <div class="text-wrapper-5">
                            <span th:id="orderTotalPrice"
                                  data-order-total="0">0원</span>
                    </div>
                </div>
                <div class="link">
                    <!-- 주문하기 버튼 클릭 시, JavaScript 함수 실행 -->

                    <button type="button" class="text-wrapper-7" onclick="orders()">총 주문하기</button>

                </div>
            </div>
        </div>


        <th:block layout:fragment="script">
            <script th:inline="javascript">

                var selectedItems = [];
                var cartItemIds = []; // 추가: 선택된 아이템들의 cartItemId를 저장하는 배열

                $(document).ready(function () {
                    checkCartItems();

                    $("input[name=cartChkBox]").change(function () {
                        var orderTotalPrice = getOrderTotalPrice();
                        $("#orderTotalPrice").html(orderTotalPrice + '원');
                    });
                });

                function checkCartItems() {
                    if ($(".table-body-row").length === 0) {
                        alert('장바구니가 비어있습니다!');
                        window.location.href = '/';
                    }
                }

                function getOrderTotalPrice() {
                    var orderTotalPrice = 0;
                    $("input[name=cartChkBox]:checked").each(function () {
                        var cartItemId = $(this).val();
                        var price = $("#price_" + cartItemId).attr("data-price");
                        var count = $("#count_" + cartItemId).val();
                        var subTotalPrice = price * count;
                        orderTotalPrice += subTotalPrice;
                    });
                    console.log("orderTotalPrice:", orderTotalPrice);
                    return orderTotalPrice;
                }

                function changeCount(obj) {
                    var count = obj.value;
                    var cartItemId = obj.id.split('_')[1];
                    var price = $("#price_" + cartItemId).data("price");
                    var totalPrice = price * count;

                    console.log("count:", count);
                    console.log("cartItemId:", cartItemId);
                    console.log("price:", price);
                    console.log("totalPrice:", totalPrice);

                    $("#totalPrice_" + cartItemId).html(totalPrice + "원");

                    // 주문 데이터 업데이트
                    updateOrderData(cartItemId, count);

                    var orderTotalPrice = getOrderTotalPrice();
                    $("#orderTotalPrice").html(orderTotalPrice + '원');
                }

                function checkAll() {
                    if ($("#checkall").prop("checked")) {
                        $("input[name=cartChkBox]").prop("checked", true);
                    } else {
                        $("input[name=cartChkBox]").prop("checked", false);
                    }
                    var orderTotalPrice = getOrderTotalPrice();
                    $("#orderTotalPrice").html(orderTotalPrice + '원');
                }


                function deleteCartItem(obj) {
                    var cartItemId = obj.dataset.id;
                    var url = "/cartItem/" + cartItemId;

                    $.ajax({
                        url: url,
                        type: "DELETE",
                        dataType: "json",
                        cache: false,
                        success: function (result, status) {
                            location.href = '/cart';
                        },
                        error: function (jqXHR, status, error) {

                            if (jqXHR.status == '401') {
                                alert('로그인 후 이용해주세요');
                                location.href = '/members/login';
                            } else {
                                alert(jqXHR.responseJSON.message);
                            }

                        }
                    });
                }

                function updateOrderData(cartItemId, count) {
                    // 선택된 아이템 배열에서 해당 cartItemId를 찾아 업데이트
                    for (var i = 0; i < selectedItems.length; i++) {
                        if (selectedItems[i].cartItemId === cartItemId) {
                            selectedItems[i].count = count;
                            break;
                        }
                    }
                }

                function orders() {


                    $("input[name='cartChkBox']:checked").each(function () {
                        var cartItemId = $(this).val();
                        var itemNm = $("#itemNm_" + cartItemId).attr("data-name");
                        var quantity = $("#count_" + cartItemId).val();
                        var price = parseFloat($("#price_" + cartItemId).attr("data-price"));

                        var cartItemDto = {
                            cartItemId: cartItemId,
                            itemNm: itemNm,
                            count: quantity,
                            price: price*quantity,
                            imgUrl: ''
                        };

                        selectedItems.push(cartItemDto);
                        cartItemIds.push(cartItemId); // 추가: cartItemId를 배열에 저장
                    });

                    var orderTotalPrice = parseFloat($("#orderTotalPrice").text());

                    var cartDetailDto = {
                        cartDetailDto: selectedItems,
                        orderTotalPrice: orderTotalPrice,
                        cartItemIds: cartItemIds // 추가: cartItemId 배열을 전달
                    };

                    // 페이지 이동 시 데이터를 함께 전달
                    window.location.href = "/checkout?orderData=" + encodeURIComponent(JSON.stringify(cartDetailDto))
                        + "&cartItemId=" + encodeURIComponent(cartItemIds);
                }

            </script>
        </th:block>
    </div>
    <div class="cart-footer">
        <footer class="footer">
            <div class="overlap-5">
                <div class="div-container">
                    <p class="based-on-the-life-s">Based on the &#39;Life&#39;s Good&#39; brand philosophy,</p>
                    <p class="text-wrapper-11">we always strives to provide First, Unique,</p>
                    <div class="overlap-6">
                        <p class="text-wrapper-12">and New F·U·N experiences to provide</p>
                        <p class="text-wrapper-13">customers with a better life.</p>
                    </div>
                    <a th:href="@{/templates/item/item.html}">
                        <div class="heading-shopping">SHOPPING</div>
                        <div class="list-item-link">Refrigerator</div>
                        <div class="list-item-link-2">TV</div>
                        <div class="list-item-link-3">Laptop</div>
                        <div class="list-item-link-sale">Washing Machine</div>
                        <div class="list-item-link-4">Air Purifier</div>
                        <div class="list-item-link-5">Air Conditioner</div>
                        <div class="list-item-link-6">Cleaner</div>
                        <div class="heading-newletter">OTHERS</div>
                        <div class="div-footer-copyright">
                            <div class="overlap-group-2">
                                <div class="text-wrapper-14">Copyright ©</div>
                                <p class="text-wrapper-15">20232020 All rights reserved | This template is made with</p>
                                <div class="symbol-3"></div>
                                <div class="by">by</div>
                                <div class="link-colorlib">Colorlib</div>
                            </div>
                        </div>
                        <div class="list-item-link-7">About us</div>
                        <div class="list-item-link-8">FAQ</div>
                        <div class="list-item-link-9">Contact</div>
                        <p class="element">
                <span class="span"
                >개인정보처리방침<br/>이벤트 개인정보처리방침<br/>영상정보처리기기운영관리방침<br/><br/>대표번호 :
                </span>
                            <a href="tel:02-3777-1114" target="_blank" rel="noopener noreferrer"
                            ><span class="text-wrapper-16">02-</span></a
                            >
                            <span class="span"
                            >1234-1234<br/>전화상담 시간은 평일 09:00 ~ 18:00 (주말, 공휴일 휴무) 입니다. (통화요금 :
                  발신자부담)<br/>제품 및 서비스 문의는 긴급 문의 건에 한해 24시간 운영합니다.<br/>주소 : 경기도
                  수원시 경기도 수원시 팔달구 덕영대로 899 (매산로 1가, 세진브론즈빌 304호)<br/><br/>본 사이트의 모든
                  콘텐츠는 저작권법의 보호를 받는 바, 무단 전재, 복사, 배포 등을 금합니다.</span
                            >
                        </p>
                    </a>
                </div>
                <img class="img" src="/img/link-logo-png.png"/>
            </div>
        </footer>
    </div>
</div>
</html>