<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="script">
    <script type="text/javascript">

    </script>
</div>

<div layout:fragment="content">

    <div class="cart">
        <div class="top">
            <div class="heading-shopping">Shopping Cart</div>
            <div class="overlap-group">
                <div class="link-home">장바구니</div>
            </div>
        </div>
        <div class="view">
            <!--<form method="post" th:action="@{/checkout}">-->
            <div class="table-header">
                <div class="row-cell-checkall2"><input class="row-cell-checkall" type="checkbox" id="checkall"
                                                       onclick="checkAll()">전체 선택
                </div>
                <div class="row-cell-product">상품명</div>
                <div class="row-cell-quantity">수량</div>
                <div class="row-cell-total">총가격</div>
            </div>
            <tr th:each="cartItem : ${cartItems}">
                <div class="table-body-row">
                    <input class="row-cell-checkall3" type="checkbox" name="cartChkBox"
                           th:value="${cartItem.getCartItemId()}">
                    <img class="data-cart-jpg" th:src="${cartItem.imgUrl}" th:alt="${cartItem.itemNm}"/>
                    <div class="data">
                        <div class="heading-t-shirt"><span th:id="itemNm" th:text="${cartItem.itemNm}"></span></div>
                        <div class="heading">
                            <span th:id="'price_' + ${cartItem.cartItemId}" th:data-price="${cartItem.price}"
                                  data-th-text="| ${#numbers.formatInteger(cartItem.price, 3, 'COMMA')} 원 |">
                            </span>
                        </div>
                    </div>
                    <div class="data-input">
                        <div class="div-wrapper">
                            <div class="text-wrapper-3">
                                <input type="number" name="count" th:id="'count_' + ${cartItem.cartItemId}"
                                       th:value="${cartItem.count}"
                                       min="1" onchange="changeCount(this)" class="text-wrapper-3">

                            </div>
                        </div>
                    </div>
                    <div class="data-2">
                    <span th:id="'totalPrice_' + ${cartItem.cartItemId}" class="totalPrice"
                          name="totalPrice"
                          data-th-text="| ${#numbers.formatInteger(cartItem.price * cartItem.count, 3, 'COMMA')} 원 |">
                    </span>
                    </div>
                    <div class="symbol-wrapper">
                        <button type="button" aria-label="Close">
                            <span aria-hidden="true" th:data-id="${cartItem.cartItemId}"
                                  onclick="deleteCartItem(this)">X</span>
                        </button>
                    </div>
                </div>
            </tr>
        </div>
        <tr th:each="cartItem : ${cartItems}">
            <div class="div-cart-total-wrapper">
                <div class="div-cart-total">
                    <div class="heading-cart-total">총 주문금액</div>
                    <div class="list-item">
                        <div class="text-wrapper-4">Subtotal</div>
                        <div class="text-wrapper-5">
                        <span th:id="'totalPrice_' + ${cartItem.cartItemId}"
                              name="totalPrice"
                              data-th-text="| ${#numbers.formatInteger(cartItem.price * cartItem.count, 3, 'COMMA')} 원 |">
                    </span>
                        </div>
                    </div>
                    <div class="list-item-2">
                        <div class="text-wrapper-6">Total</div>
                        <div class="text-wrapper-5">
                            <span th:id="orderTotalPrice">0원
                            </span>
                        </div>
                    </div>
                    <div class="link">
                        <!-- 주문하기 버튼 클릭 시, JavaScript 함수 실행 -->

                        <button type="button" class="text-wrapper-7" onclick="orders()">총 주문하기</button>

                    </div>
                </div>
            </div>
        </tr>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function () {
            checkCartItems();

            $("input[name=cartChkBox]").change(function () {
                getOrderTotalPrice();
            });
        });

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function checkCartItems() {
            if ($(".table-body-row").length === 0) {
                alert('장바구니가 비어있습니다!');
                window.location.href = '/';
            }
        }

        function getOrderTotalPrice() {
            var orderTotalPrice = 0;
            $("input[name=cartChkBox]:checked").each(function () {
            var cartItemId = $(this).val();
            var price = $("#price_" + cartItemId).attr("data-price");
            var count = $("#count_" + cartItemId).val();

            orderTotalPrice += price * count;
        });

        var formattedPrice = numberWithCommas(orderTotalPrice);
        $("#orderTotalPrice").html(formattedPrice + '원');
        }

        function changeCount(obj) {
            var count = obj.value;
            var cartItemId = obj.id.split('_')[1];
            var price = $("#price_" + cartItemId).data("price");
            var totalPrice = price * count;
            $("#totalPrice_" + cartItemId).html(totalPrice + "원");
            getOrderTotalPrice();
        }

        function checkAll() {
            if ($("#checkall").prop("checked")) {
                $("input[name=cartChkBox]").prop("checked", true);
            } else {
                $("input[name=cartChkBox]").prop("checked", false);
            }
            getOrderTotalPrice();
        }

        function deleteCartItem(obj) {
            var cartItemId = obj.dataset.id;
            var url = "/cartItem/" + cartItemId;

            $.ajax({
                url: url,
                type: "DELETE",
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    location.href = '/cart';
                },
                error: function (jqXHR, status, error) {

                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/members/login';
                    } else {
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }



        function orders() {
    var selectedItems = [];

    $("input[name='cartChkBox']:checked").each(function () {
        var cartItemId = $(this).val();
        var itemNm = $("#itemNm_" + cartItemId).text();
        var quantity = $("#count_" + cartItemId).val();
        var price = $("#totalPrice_" + cartItemId).text();

        var cartItemDto = {
            cartItemId: cartItemId,
            itemNm: itemNm,
            count: quantity,
            price: price,
            imgUrl: ''
        };

        selectedItems.push(cartItemDto);
    });

    var orderTotalPrice = $("#orderTotalPrice").text();

    var cartDetailDto = {
        cartDetailDto: selectedItems,
        orderTotalPrice: orderTotalPrice
    };

    // 페이지 이동 시 데이터를 함께 전달
    window.location.href = "/checkout?orderData=" + encodeURIComponent(JSON.stringify(cartDetailDto));
}
    </script>
</th:block>
</html>