.cart {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cart .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.cart .header {
  position: absolute;
  width: 1920px;
  height: 131px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.cart .link-logo-png {
  position: absolute;
  width: 225px;
  height: 36px;
  top: 72px;
  left: 335px;
}

.cart .nav-list-item-link {
  width: 52px;
  left: 786px;
  position: absolute;
  height: 24px;
  top: 77px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 600;
  color: #111111;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.cart .text-wrapper {
  width: 45px;
  left: 979px;
  position: absolute;
  height: 24px;
  top: 77px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 600;
  color: #111111;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.cart .nav-list-item-link-2 {
  width: 69px;
  left: 1051px;
  position: absolute;
  height: 24px;
  top: 77px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 600;
  color: #111111;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.cart .nav-list-item-link-3 {
  width: 88px;
  left: 864px;
  position: absolute;
  height: 24px;
  top: 77px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 600;
  color: #111111;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.cart .icon-search {
  left: 1474px;
  position: absolute;
  width: 16px;
  height: 17px;
  top: 81px;
}

.cart .icon-favorite-border {
  position: absolute;
  width: 16px;
  height: 17px;
  top: 81px;
  left: 1516px;
}

.cart .icon-shopping-bag {
  position: absolute;
  width: 16px;
  height: 17px;
  top: 80px;
  left: 1560px;
}

.cart .icon-person {
  left: 1431px;
  position: absolute;
  width: 16px;
  height: 17px;
  top: 81px;
}

.cart .div-header-top {
  position: absolute;
  width: 1920px;
  height: 46px;
  top: 0;
  left: 0;
  background-color: #111111;
}

.cart .text-wrapper-2 {
  position: absolute;
  width: 333px;
  height: 25px;
  top: 9px;
  left: 391px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.cart .top {
  position: absolute;
  width: 1920px;
  height: 141px;
  top: 131px;
  left: 0;
  background-color: #f3f2ee;
}

.cart .heading-shopping {
  position: absolute;
  width: 162px;
  height: 29px;
  top: 39px;
  left: 390px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.cart .overlap-group {
  position: absolute;
  width: 88px;
  height: 23px;
  top: 76px;
  left: 390px;
}

.cart .link-home {
  position: absolute;
  width: 88px;
  height: 23px;
  top: 0;
  left: 0;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #acacac;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.cart .symbol {
  width: 6px;
  height: 22px;
  top: 0;
  left: 49px;
  color: #111111;
  font-size: 15px;
  line-height: 22.5px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.cart .symbol-2 {
  width: 6px;
  height: 22px;
  top: 77px;
  left: 496px;
  color: #111111;
  font-size: 15px;
  line-height: 22.5px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.cart .view {
  width: 780px;
  height: 736px;
  left: 375px;
  position: absolute;
  top: 371px;
}

.cart .table-header {
  position: absolute;
  width: 750px;
  height: 50px;
  top: 0;
  left: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #f2f2f2;
}

.cart .row-cell-checkall {
  width: 79px;
  left: -53px;
  position: absolute;
  height: 22px;
  top: 1px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.cart .row-cell-checkall2 {
  width: 79px;
  left: 14px;
  position: absolute;
  height: 22px;
  top: 1px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.cart .row-cell-checkall3 {
  width: 79px;
  left: -40px;
  position: absolute;
  height: 17px;
  top: 1px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.cart .row-cell-product {
  width: 79px;
  left: 150px;
  position: absolute;
  height: 22px;
  top: 1px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.cart .row-cell-quantity {
  width: 83px;
  left: 396px;
  position: absolute;
  height: 22px;
  top: 1px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.cart .row-cell-total {
  width: 51px;
  left: 570px;
  position: absolute;
  height: 22px;
  top: 1px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.cart .table-body-row {
  position: absolute;
  width: 750px;
  height: 151px;
  top: 50px;
  left: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #f2f2f2;
}

.cart .data-cart-jpg {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 30px;
  left: 1px;
}

.cart .data {
  position: absolute;
  width: 274px;
  height: 71px;
  top: 30px;
  left: 121px;
}

.cart .heading-t-shirt {
  position: absolute;
  width: 158px;
  height: 18px;
  top: 20px;
  left: 0;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 600;
  color: #111111;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.cart .heading {
  position: absolute;
  width: 59px;
  height: 24px;
  top: 46px;
  left: 0;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #0d0d0d;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21.6px;
  white-space: nowrap;
}

.cart .symbol-3 {
  width: 6px;
  height: 16px;
  top: 66px;
  left: 396px;
  color: #888888;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.cart .data-input {
  position: absolute;
  width: 50px;
  height: 26px;
  top: 62px;
  left: 411px;
  background-color: #ffffff;
}

.cart .div-wrapper {
  position: relative;
  width: 46px;
  height: 24px;
  top: 1px;
  left: 2px;
}

.cart .text-wrapper-3 {
  position: relative;
  height: 22px;
  top: 0;
  left: -47px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #111111;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.cart .symbol-4 {
  width: 6px;
  height: 16px;
  top: 66px;
  left: 465px;
  color: #888888;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.cart .data-2 {
  position: absolute;
  width: 64px;
  height: 24px;
  top: 62px;
  left: 570px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.cart .symbol-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 56px;
  left: 709px;
  background-color: #f3f2ee;
  border-radius: 20px;
}

.cart .symbol-5 {
  width: 14px;
  height: 18px;
  top: 10px;
  left: 13px;
  color: #111111;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.cart .table-body-row-2 {
  top: 202px;
  position: absolute;
  width: 750px;
  height: 151px;
  left: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #f2f2f2;
}

.cart .heading-diagonal {
  position: absolute;
  width: 157px;
  height: 18px;
  top: 20px;
  left: 0;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 600;
  color: #111111;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.cart .table-body-row-3 {
  top: 352px;
  position: absolute;
  width: 750px;
  height: 151px;
  left: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #f2f2f2;
}

.cart .heading-basic {
  position: absolute;
  width: 135px;
  height: 18px;
  top: 20px;
  left: 0;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 600;
  color: #111111;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.cart .table-body-row-4 {
  top: 504px;
  position: absolute;
  width: 750px;
  height: 151px;
  left: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #f2f2f2;
}

.cart .div-cart-total-wrapper {
  width: 390px;
  height: 340px;
  left: 1155px;
  position: absolute;
  top: 371px;
}

.cart .div-cart-total {
  position: relative;
  width: 360px;
  height: 255px;
  left: 15px;
  background-color: #f3f2ee;
}

.cart .heading-cart-total {
  position: absolute;
  width: 96px;
  height: 22px;
  top: 32px;
  left: 40px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #111111;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.2px;
  white-space: nowrap;
}

.cart .totalPrice {
  position: absolute;
  width: 59px;
  height: 24px;
  top: 0px;
  left: -23px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #0d0d0d;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21.6px;
  white-space: nowrap;
}

.cart .list-item {
  position: absolute;
  width: 280px;
  height: 40px;
  top: 66px;
  left: 40px;
  overflow: hidden;
}

.cart .text-wrapper-4 {
  position: absolute;
  width: 62px;
  height: 22px;
  top: 8px;
  left: 0;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.cart .text-wrapper-5 {
  position: absolute;
  width: 66px;
  height: 40px;
  top: 8px;
  left: 180px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #e53637;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.cart .list-item-2 {
  position: absolute;
  width: 280px;
  height: 40px;
  top: 106px;
  left: 40px;
  overflow: hidden;
}

.cart .text-wrapper-6 {
  position: absolute;
  width: 36px;
  height: 22px;
  top: 8px;
  left: 0;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.cart .link {
  position: absolute;
  width: 280px;
  height: 44px;
  top: 171px;
  left: 40px;
  background-color: #000000;
}

.cart .text-wrapper-7 {
  width: 196px;
  height: 18px;
  top: 0px;
  left: 0px;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 19.5px;
  white-space: nowrap;
  position: absolute;
  font-family: "Nunito Sans", Helvetica;
  color: #ffffff;
}

.cart .footer {
  position: absolute;
  width: 1920px;
  height: 390px;
  top: 1207px;
  left: 0;
  background-color: #111111;
}

.cart .overlap {
  position: relative;
  width: 1391px;
  height: 320px;
  top: 70px;
  left: 154px;
}

.cart .div-container {
  position: absolute;
  width: 1170px;
  height: 320px;
  top: 0;
  left: 221px;
}

.cart .based-on-the-life-s {
  position: absolute;
  width: 325px;
  height: 22px;
  top: 67px;
  left: -192px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.cart .p {
  position: absolute;
  width: 366px;
  height: 27px;
  top: 91px;
  left: -192px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.cart .overlap-2 {
  position: absolute;
  width: 325px;
  height: 41px;
  top: 120px;
  left: -192px;
}

.cart .text-wrapper-8 {
  position: absolute;
  width: 325px;
  height: 22px;
  top: 0;
  left: 0;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.cart .text-wrapper-9 {
  position: absolute;
  width: 299px;
  height: 23px;
  top: 18px;
  left: 15px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.cart .heading-shopping-2 {
  position: absolute;
  width: 95px;
  height: 18px;
  top: -1px;
  left: 266px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 18px;
  white-space: nowrap;
}

.cart .list-item-link {
  position: absolute;
  width: 97px;
  height: 20px;
  top: 33px;
  left: 266px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.cart .list-item-link-2 {
  position: absolute;
  width: 105px;
  height: 20px;
  top: 69px;
  left: 266px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.cart .list-item-link-3 {
  width: 80px;
  top: 105px;
  left: 266px;
  position: absolute;
  height: 20px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.cart .list-item-link-sale {
  width: 122px;
  top: 141px;
  left: 266px;
  position: absolute;
  height: 20px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.cart .list-item-link-4 {
  position: absolute;
  width: 74px;
  height: 20px;
  top: 33px;
  left: 439px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.cart .list-item-link-5 {
  position: absolute;
  width: 122px;
  height: 20px;
  top: 81px;
  left: 440px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.cart .list-item-link-6 {
  width: 56px;
  top: 117px;
  left: 440px;
  position: absolute;
  height: 20px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.cart .heading-newletter {
  position: absolute;
  width: 121px;
  height: 18px;
  top: -1px;
  left: 657px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 18px;
  white-space: nowrap;
}

.cart .div-footer-copyright {
  position: absolute;
  width: 1140px;
  height: 66px;
  top: 254px;
  left: 15px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #ffffff1a;
}

.cart .overlap-group-2 {
  position: relative;
  width: 576px;
  height: 25px;
  top: 20px;
  left: 282px;
}

.cart .text-wrapper-10 {
  position: absolute;
  width: 86px;
  height: 25px;
  top: 0;
  left: 0;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.cart .text-wrapper-11 {
  position: absolute;
  width: 399px;
  height: 25px;
  top: 0;
  left: 86px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.cart .symbol-6 {
  width: 15px;
  height: 15px;
  top: 4px;
  left: 484px;
  color: #e53637;
  font-size: 15px;
  text-align: center;
  line-height: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.cart .by {
  position: absolute;
  width: 24px;
  height: 25px;
  top: 0;
  left: 499px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.cart .link-colorlib {
  position: absolute;
  width: 53px;
  height: 20px;
  top: 2px;
  left: 523px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #e53637;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.cart .list-item-link-7 {
  position: absolute;
  width: 97px;
  height: 20px;
  top: 45px;
  left: 657px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.cart .list-item-link-8 {
  position: absolute;
  width: 105px;
  height: 20px;
  top: 81px;
  left: 657px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.cart .list-item-link-9 {
  position: absolute;
  width: 80px;
  height: 20px;
  top: 117px;
  left: 657px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.cart .element {
  width: 456px;
  height: 250px;
  top: 3px;
  left: 942px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  font-family: "Nunito Sans", Helvetica;
  color: #ffffff;
}

.cart .span {
  font-family: "Nunito Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 25px;
}

.cart .text-wrapper-12 {
  text-decoration: underline;
}

.cart .img {
  position: absolute;
  width: 233px;
  height: 44px;
  top: 3px;
  left: 0;
}

.cart .symbol-wrapper button,
.cart .link button
{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능한 것처럼 보이게 함 */
}