.check-pwd {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.check-pwd .div {
    background-color: #ffffff;
    overflow-y: visible;
    width: 1920px;
    height: 1080px;
    position: relative;
}

.check-pwd .header {
    position: absolute;
    width: 1920px;
    height: 131px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.check-pwd .link-logo-png {
    position: absolute;
    width: 225px;
    height: 36px;
    top: 72px;
    left: 335px;
}

.check-pwd .nav-list-item-link {
    width: 52px;
    left: 786px;
    position: absolute;
    height: 24px;
    top: 77px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #111111;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.check-pwd .text-wrapper {
    width: 45px;
    left: 979px;
    position: absolute;
    height: 24px;
    top: 77px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #111111;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.check-pwd .nav-list-item-link-2 {
    width: 69px;
    left: 1051px;
    position: absolute;
    height: 24px;
    top: 77px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #111111;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.check-pwd .nav-list-item-link-3 {
    width: 88px;
    left: 864px;
    position: absolute;
    height: 24px;
    top: 77px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #111111;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.check-pwd .icon-search {
    left: 1474px;
    position: absolute;
    width: 16px;
    height: 17px;
    top: 81px;
}

.check-pwd .icon-favorite-border {
    position: absolute;
    width: 16px;
    height: 17px;
    top: 81px;
    left: 1516px;
}

.check-pwd .icon-shopping-bag {
    position: absolute;
    width: 16px;
    height: 17px;
    top: 80px;
    left: 1560px;
}

.check-pwd .icon-person {
    left: 1431px;
    position: absolute;
    width: 16px;
    height: 17px;
    top: 81px;
}

.check-pwd .div-header-top {
    position: absolute;
    width: 1920px;
    height: 46px;
    top: 0;
    left: 0;
    background-color: #111111;
}

.check-pwd .text-wrapper-2 {
    position: absolute;
    width: 333px;
    height: 25px;
    top: 9px;
    left: 391px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.check-pwd .top {
    position: absolute;
    width: 1920px;
    height: 141px;
    top: 155px;
    left: -8px;
    background-color: #f3f2ee;
}

.check-pwd .heading-check-out {
    position: absolute;
    width: 116px;
    height: 29px;
    top: 39px;
    left: 390px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #111111;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28.8px;
    white-space: nowrap;
}

.check-pwd .overlap-group {
    position: absolute;
    width: 64px;
    height: 23px;
    top: 76px;
    left: 390px;
}

.check-pwd .link-home {
    position: absolute;
    width: 64px;
    height: 23px;
    top: 0;
    left: 0;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #acacac;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 22.5px;
    white-space: nowrap;
}

.check-pwd .symbol {
    width: 6px;
    height: 22px;
    top: 0;
    left: 49px;
    color: #111111;
    line-height: 22.5px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    white-space: nowrap;
}

.check-pwd .symbol-2 {
    width: 6px;
    height: 22px;
    top: 77px;
    left: 496px;
    color: #111111;
    line-height: 22.5px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    white-space: nowrap;
}

.check-pwd .details {
    position: absolute;
    width: 780px;
    height: 530px;
    top: 365px;
    left: 537px;
}

.check-pwd .heading {
    position: absolute;
    width: 750px;
    height: 61px;
    top: 0;
    left: 15px;
    background-color: #f5f5f5;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: #77b527;
}

.check-pwd .p {
    width: 379px;
    height: 19px;
    top: 22px;
    left: 59px;
    font-weight: 400;
    color: #0d0d0d;
    font-size: 14px;
    line-height: 16.8px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .family {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    left: 17px;
}

.check-pwd .overlap {
    position: absolute;
    width: 49px;
    height: 28px;
    top: 86px;
    left: 207px;
}

.check-pwd .text-wrapper-3 {
    width: 46px;
    height: 25px;
    top: 45px;
    left: 0;
    font-weight: 400;
    color: #111111;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .text-wrapper-4 {
    width: 7px;
    height: 20px;
    top: 40px;
    left: 35px;
    font-weight: 400;
    color: #e53637;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .input {
    top: 170px;
    left: 207px;
    position: absolute;
    width: 366px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e1e1e1;
}

.check-pwd .overlap-2 {
    position: absolute;
    width: 61px;
    height: 28px;
    top: 188px;
    left: 207px;
}

.check-pwd .text-wrapper-5 {
    width: 61px;
    height: 25px;
    top: -30px;
    left: 0;
    font-weight: 400;
    color: #111111;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .text-wrapper-6 {
    width: 7px;
    height: 20px;
    top: -34px;
    left: 97px;
    font-weight: 400;
    color: #e53637;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .overlap-3 {
    position: absolute;
    width: 398px;
    height: 73px;
    top: 210px;
    left: 207px;
}

.check-pwd .input-2 {
    top: 0;
    left: 0;
    position: absolute;
    width: 366px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e1e1e1;
}

.check-pwd .text-wrapper-7 {
    width: 147px;
    height: 24px;
    top: 49px;
    left: 240px;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .remember {
    width: 147px;
    height: 24px;
    top: 49px;
    left: 0;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .group {
    left: 238px;
    position: absolute;
    width: 128px;
    height: 45px;
    top: 319px;
}

.check-pwd .div-wrapper {
    position: relative;
    width: 126px;
    height: 45px;
    top: 10px;
    background-image: url(../img/rectangle-2.svg);
    background-size: 100% 100%;
    font-weight: 700;
    font-family: "Nunito Sans", Helvetica;
    background-color: white;
    /* 테두리 속성을 없애는 CSS */
    border: none;
    outline: none; /* 포커스 테두리도 제거하려면 추가 */
}



.check-pwd .text-wrapper-8 {
    width: 100px;
    height: 30px;
    top: 12px;
    left: 47px;
    font-weight: 700;
    color: #4a4a4a;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .overlap-wrapper {
    left: 415px;
    position: absolute;
    width: 128px;
    height: 45px;
    top: 328px;
}

.check-pwd .overlap-4 {
    position: relative;
    width: 126px;
    height: 45px;
    background-image: url(../img/rectangle-3.svg);
    background-size: 100% 100%;
}

.check-pwd .text-wrapper-9 {
    width: 100px;
    height: 30px;
    top: 10px;
    left: 47px;
    font-weight: 700;
    color: #643f3f;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .icon-google-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 434px;
    left: 419px;
}

.check-pwd .SNS-kakaotalk {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 430px;
    left: 328px;
}

.check-pwd .footer {
    position: absolute;
    width: 1920px;
    height: 390px;
    top: 1080px;
    left: 0;
    background-color: #111111;
}

.check-pwd .overlap-5 {
    position: relative;
    width: 1391px;
    height: 320px;
    top: 70px;
    left: 154px;
}

.check-pwd .div-container {
    position: absolute;
    width: 1170px;
    height: 320px;
    top: 0;
    left: 221px;
}

.check-pwd .based-on-the-life-s {
    position: absolute;
    width: 325px;
    height: 22px;
    top: 67px;
    left: -192px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.check-pwd .overlap-6 {
    position: absolute;
    width: 325px;
    height: 41px;
    top: 120px;
    left: -192px;
}

.check-pwd .heading-shopping {
    position: absolute;
    width: 95px;
    height: 18px;
    top: -1px;
    left: 266px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 18px;
    white-space: nowrap;
}

.check-pwd .list-item-link {
    position: absolute;
    width: 97px;
    height: 20px;
    top: 33px;
    left: 266px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.check-pwd .list-item-link-2 {
    position: absolute;
    width: 105px;
    height: 20px;
    top: 69px;
    left: 266px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.check-pwd .list-item-link-3 {
    width: 80px;
    top: 105px;
    left: 266px;
    position: absolute;
    height: 20px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.check-pwd .list-item-link-sale {
    width: 122px;
    top: 141px;
    left: 266px;
    position: absolute;
    height: 20px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.check-pwd .list-item-link-4 {
    position: absolute;
    width: 74px;
    height: 20px;
    top: 33px;
    left: 439px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.check-pwd .list-item-link-5 {
    position: absolute;
    width: 122px;
    height: 20px;
    top: 81px;
    left: 440px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.check-pwd .list-item-link-6 {
    width: 56px;
    top: 117px;
    left: 440px;
    position: absolute;
    height: 20px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.check-pwd .heading-newletter {
    position: absolute;
    width: 121px;
    height: 18px;
    top: -1px;
    left: 657px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 18px;
    white-space: nowrap;
}

.check-pwd .div-footer-copyright {
    position: absolute;
    width: 1140px;
    height: 66px;
    top: 254px;
    left: 15px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #ffffff1a;
}

.check-pwd .overlap-group-2 {
    position: relative;
    width: 576px;
    height: 25px;
    top: 20px;
    left: 282px;
}

.check-pwd .text-wrapper-14 {
    position: absolute;
    width: 86px;
    height: 25px;
    top: 0;
    left: 0;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.check-pwd .text-wrapper-15 {
    position: absolute;
    width: 399px;
    height: 25px;
    top: 0;
    left: 86px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.check-pwd .symbol-3 {
    width: 15px;
    height: 15px;
    top: 4px;
    left: 484px;
    color: #e53637;
    text-align: center;
    line-height: 15px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    white-space: nowrap;
}

.check-pwd .by {
    position: absolute;
    width: 24px;
    height: 25px;
    top: 0;
    left: 499px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.check-pwd .link-colorlib {
    position: absolute;
    width: 53px;
    height: 20px;
    top: 2px;
    left: 523px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #e53637;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.check-pwd .list-item-link-7 {
    position: absolute;
    width: 97px;
    height: 20px;
    top: 45px;
    left: 657px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.check-pwd .list-item-link-8 {
    position: absolute;
    width: 105px;
    height: 20px;
    top: 81px;
    left: 657px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.check-pwd .list-item-link-9 {
    position: absolute;
    width: 80px;
    height: 20px;
    top: 117px;
    left: 657px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.check-pwd .element {
    width: 456px;
    height: 250px;
    top: 3px;
    left: 942px;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    line-height: 25px;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .span {
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 25px;
}

.check-pwd .text-wrapper-16 {
    text-decoration: underline;
}

.check-pwd .img {
    position: absolute;
    width: 233px;
    height: 44px;
    top: 3px;
    left: 0;
}

.check-pwd .text-wrapper-10 {
    width: 46px;
    height: 25px;
    top: 87px;
    left: 290px;
    font-weight: 400;
    color: #111111;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .text-wrapper-11 {
    width: 46px;
    height: 25px;
    top: 88px;
    left: 450px;
    font-weight: 400;
    color: #111111;
    font-size: 14px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .text-wrapper-12 {
    width: 7px;
    height: 20px;
    top: 40px;
    left: 50px;
    font-weight: 400;
    color: #e53637;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .text-wrapper-13 {
    width: 7px;
    height: 20px;
    top: 45px;
    left: 50px;
    font-weight: 400;
    color: #e53637;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.check-pwd .radio-group-box{
    display: flex;
    flex-direction: row; /* 라디오 버튼을 가로로 정렬 */
    justify-content: space-between; /* 라디오 버튼 간의 간격을 벌림 */
    margin-bottom: 10px;
    position: relative; /* 부모 컨테이너에 position: relative; 적용 */
    top: 92px;
    left: 270px;
}

.check-pwd .radio-group-box-1{
    display: flex;
    flex-direction: row; /* 라디오 버튼을 가로로 정렬 */
    justify-content: space-between; /* 라디오 버튼 간의 간격을 벌림 */
    margin-bottom: 10px;
    position: relative; /* 부모 컨테이너에 position: relative; 적용 */
    top: 69px;
    left: 430px;
}

/* 모달 관련 CSS*/
#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
    background: rgba( 0, 0, 0, 0.70 ); // 69, 139, 197
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 300px;
    position: relative;
    top: -100px;
    padding: 10px;
}
#modal .title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px rgb(128, 128, 128);
    color: white;

}
#modal .title h2 {
    display: inline;
}
#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgb(128, 128, 128);
    color: white;
}

#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px rgb(128, 128, 128);
    color: white;
}