.login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login .div {
    background-color: #ffffff;
    overflow-y: visible;
    width: 1920px;
    height: 1080px;
    position: relative;
}

.login .header {
    position: absolute;
    width: 1920px;
    height: 131px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.login .link-logo-png {
    position: absolute;
    width: 225px;
    height: 36px;
    top: 72px;
    left: 335px;
}

.login .nav-list-item-link {
    width: 52px;
    left: 786px;
    position: absolute;
    height: 24px;
    top: 77px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #111111;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.login .text-wrapper {
    width: 45px;
    left: 979px;
    position: absolute;
    height: 24px;
    top: 77px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #111111;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.login .nav-list-item-link-2 {
    width: 69px;
    left: 1051px;
    position: absolute;
    height: 24px;
    top: 77px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #111111;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.login .nav-list-item-link-3 {
    width: 88px;
    left: 864px;
    position: absolute;
    height: 24px;
    top: 77px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #111111;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.login .icon-search {
    left: 1474px;
    position: absolute;
    width: 16px;
    height: 17px;
    top: 81px;
}

.login .icon-favorite-border {
    position: absolute;
    width: 16px;
    height: 17px;
    top: 81px;
    left: 1516px;
}

.login .icon-shopping-bag {
    position: absolute;
    width: 16px;
    height: 17px;
    top: 80px;
    left: 1560px;
}

.login .icon-person {
    left: 1431px;
    position: absolute;
    width: 16px;
    height: 17px;
    top: 81px;
}

.login .div-header-top {
    position: absolute;
    width: 1920px;
    height: 46px;
    top: 0;
    left: 0;
    background-color: #111111;
}

.login .text-wrapper-2 {
    position: absolute;
    width: 333px;
    height: 25px;
    top: 9px;
    left: 391px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.login .top {
    position: absolute;
    width: 1920px;
    height: 141px;
    top: 155px;
    left: -8px;
    background-color: #f3f2ee;
}

.login .heading-check-out {
    position: absolute;
    width: 116px;
    height: 29px;
    top: 39px;
    left: 390px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #111111;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28.8px;
    white-space: nowrap;
}

.login .overlap-group {
    position: absolute;
    width: 64px;
    height: 23px;
    top: 76px;
    left: 390px;
}

.login .link-home {
    position: absolute;
    width: 64px;
    height: 23px;
    top: 0;
    left: 0;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #acacac;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 22.5px;
    white-space: nowrap;
}

.login .symbol {
    width: 6px;
    height: 22px;
    top: 0;
    left: 49px;
    color: #111111;
    line-height: 22.5px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    white-space: nowrap;
}

.login .symbol-2 {
    width: 6px;
    height: 22px;
    top: 77px;
    left: 496px;
    color: #111111;
    line-height: 22.5px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    white-space: nowrap;
}

.login .details {
    position: absolute;
    width: 780px;
    height: 530px;
    top: 365px;
    left: 537px;
}

.login .heading {
    position: absolute;
    width: 750px;
    height: 61px;
    top: 0;
    left: 15px;
    background-color: #f5f5f5;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: #77b527;
}

.login .p {
    width: 379px;
    height: 19px;
    top: 22px;
    left: 59px;
    font-weight: 400;
    color: #0d0d0d;
    font-size: 14px;
    line-height: 16.8px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.login .family {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    left: 17px;
}

.login .overlap {
    position: absolute;
    width: 49px;
    height: 28px;
    top: 86px;
    left: 207px;
}

.login .text-wrapper-3 {
    width: 46px;
    height: 25px;
    top: 3px;
    left: 0;
    font-weight: 400;
    color: #111111;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.login .text-wrapper-4 {
    width: 7px;
    height: 20px;
    top: 0;
    left: 44px;
    font-weight: 400;
    color: #e53637;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.login .input {
    top: 127px;
    left: 207px;
    position: absolute;
    width: 366px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e1e1e1;
}

.login .overlap-2 {
    position: absolute;
    width: 61px;
    height: 28px;
    top: 188px;
    left: 207px;
}

.login .text-wrapper-5 {
    width: 61px;
    height: 25px;
    top: 3px;
    left: 0;
    font-weight: 400;
    color: #111111;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.login .text-wrapper-6 {
    width: 7px;
    height: 20px;
    top: 0;
    left: 59px;
    font-weight: 400;
    color: #e53637;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.login .overlap-3 {
    position: absolute;
    width: 398px;
    height: 73px;
    top: 229px;
    left: 207px;
}

.login .input-2 {
    top: 0;
    left: 0;
    position: absolute;
    width: 366px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e1e1e1;
}

.login .text-wrapper-7 {
    width: 147px;
    height: 24px;
    top: 49px;
    left: 240px;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.login .remember {
    width: 147px;
    height: 24px;
    top: 49px;
    left: 0;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.login .group {
    left: 238px;
    position: absolute;
    width: 128px;
    height: 45px;
    top: 319px;
}

.login .div-wrapper {
    position: relative;
    width: 126px;
    height: 45px;
    background-image: url(../img/rectangle-2.svg);
    background-size: 100% 100%;
    font-weight: 700;
    font-family: "Nunito Sans", Helvetica;
    background-color: white;
    /* 테두리 속성을 없애는 CSS */
    border: none;
    outline: none; /* 포커스 테두리도 제거하려면 추가 */
}

.login .text-wrapper-8 {
    width: 100px;
    height: 30px;
    top: 12px;
    left: 41px;
    font-weight: 700;
    color: #4a4a4a;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.login .overlap-wrapper {
    left: 415px;
    position: absolute;
    width: 128px;
    height: 45px;
    top: 319px;
}

.login .overlap-4 {
    position: relative;
    width: 126px;
    height: 45px;
    background-image: url(../img/rectangle-3.svg);
    background-size: 100% 100%;
}

.login .text-wrapper-9 {
    width: 100px;
    height: 30px;
    top: 10px;
    left: 34px;
    font-weight: 700;
    color: #643f3f;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.login .icon-google-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 429px;
    left: 419px;
}

.login .SNS-kakaotalk {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 430px;
    left: 328px;
}

.login .text-wrapper-10 {
    width: 76px;
    height: 21px;
    top: 392px;
    left: 352px;
    font-weight: 700;
    color: #000000;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.login .footer {
    position: absolute;
    width: 1920px;
    height: 390px;
    top: 1080px;
    left: 0;
    background-color: #111111;
}

.login .overlap-5 {
    position: relative;
    width: 1391px;
    height: 320px;
    top: 70px;
    left: 154px;
}

.login .div-container {
    position: absolute;
    width: 1170px;
    height: 320px;
    top: 0;
    left: 221px;
}

.login .based-on-the-life-s {
    position: absolute;
    width: 325px;
    height: 22px;
    top: 67px;
    left: -192px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.login .text-wrapper-11 {
    position: absolute;
    width: 366px;
    height: 27px;
    top: 91px;
    left: -192px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.login .overlap-6 {
    position: absolute;
    width: 325px;
    height: 41px;
    top: 120px;
    left: -192px;
}

.login .text-wrapper-12 {
    position: absolute;
    width: 325px;
    height: 22px;
    top: 0;
    left: 0;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.login .text-wrapper-13 {
    position: absolute;
    width: 299px;
    height: 23px;
    top: 18px;
    left: 15px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.login .heading-shopping {
    position: absolute;
    width: 95px;
    height: 18px;
    top: -1px;
    left: 266px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 18px;
    white-space: nowrap;
}

.login .list-item-link {
    position: absolute;
    width: 97px;
    height: 20px;
    top: 33px;
    left: 266px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.login .list-item-link-2 {
    position: absolute;
    width: 105px;
    height: 20px;
    top: 69px;
    left: 266px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.login .list-item-link-3 {
    width: 80px;
    top: 105px;
    left: 266px;
    position: absolute;
    height: 20px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.login .list-item-link-sale {
    width: 122px;
    top: 141px;
    left: 266px;
    position: absolute;
    height: 20px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.login .list-item-link-4 {
    position: absolute;
    width: 74px;
    height: 20px;
    top: 33px;
    left: 439px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.login .list-item-link-5 {
    position: absolute;
    width: 122px;
    height: 20px;
    top: 81px;
    left: 440px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.login .list-item-link-6 {
    width: 56px;
    top: 117px;
    left: 440px;
    position: absolute;
    height: 20px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.login .heading-newletter {
    position: absolute;
    width: 121px;
    height: 18px;
    top: -1px;
    left: 657px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 18px;
    white-space: nowrap;
}

.login .div-footer-copyright {
    position: absolute;
    width: 1140px;
    height: 66px;
    top: 254px;
    left: 15px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #ffffff1a;
}

.login .overlap-group-2 {
    position: relative;
    width: 576px;
    height: 25px;
    top: 20px;
    left: 282px;
}

.login .text-wrapper-14 {
    position: absolute;
    width: 86px;
    height: 25px;
    top: 0;
    left: 0;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.login .text-wrapper-15 {
    position: absolute;
    width: 399px;
    height: 25px;
    top: 0;
    left: 86px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.login .symbol-3 {
    width: 15px;
    height: 15px;
    top: 4px;
    left: 484px;
    color: #e53637;
    text-align: center;
    line-height: 15px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    white-space: nowrap;
}

.login .by {
    position: absolute;
    width: 24px;
    height: 25px;
    top: 0;
    left: 499px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.login .link-colorlib {
    position: absolute;
    width: 53px;
    height: 20px;
    top: 2px;
    left: 523px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #e53637;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.login .list-item-link-7 {
    position: absolute;
    width: 97px;
    height: 20px;
    top: 45px;
    left: 657px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.login .list-item-link-8 {
    position: absolute;
    width: 105px;
    height: 20px;
    top: 81px;
    left: 657px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.login .list-item-link-9 {
    position: absolute;
    width: 80px;
    height: 20px;
    top: 117px;
    left: 657px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.login .element {
    width: 456px;
    height: 250px;
    top: 3px;
    left: 942px;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    line-height: 25px;
    position: absolute;
    font-family: "Nunito Sans", Helvetica;
    letter-spacing: 0;
}

.login .span {
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 25px;
}

.login .text-wrapper-16 {
    text-decoration: underline;
}

.login .img {
    position: absolute;
    width: 233px;
    height: 44px;
    top: 3px;
    left: 0;
}
