.notice {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.notice .div {
    background-color: #ffffff;
    overflow-x: hidden;
    width: 1920px;
    height: 1080px;
    position: relative;
}

.notice .header {
    position: absolute;
    width: 1920px;
    height: 131px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.notice .link-logo-png {
    position: absolute;
    width: 225px;
    height: 36px;
    top: 72px;
    left: 335px;
}

.notice .nav-list-item-link {
    width: 52px;
    left: 786px;
    position: absolute;
    height: 24px;
    top: 77px;
    font-family: "Nunito Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #111111;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.notice .text-wrapper {
    width: 45px;
    left: 979px;
    position: absolute;
    height: 24px;
    top: 77px;
    font-family: "Nunito Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #111111;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.notice .nav-list-item-link-2 {
    width: 69px;
    left: 1051px;
    position: absolute;
    height: 24px;
    top: 77px;
    font-family: "Nunito Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #111111;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.notice .nav-list-item-link-3 {
    width: 88px;
    left: 864px;
    position: absolute;
    height: 24px;
    top: 77px;
    font-family: "Nunito Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #111111;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.notice .icon-search {
    left: 1474px;
    position: absolute;
    width: 16px;
    height: 17px;
    top: 81px;
}

.notice .icon-favorite-border {
    position: absolute;
    width: 16px;
    height: 17px;
    top: 81px;
    left: 1516px;
}

.notice .icon-shopping-bag {
    position: absolute;
    width: 16px;
    height: 17px;
    top: 80px;
    left: 1560px;
}

.notice .icon-person {
    left: 1431px;
    position: absolute;
    width: 16px;
    height: 17px;
    top: 81px;
}

.notice .div-header-top {
    position: absolute;
    width: 1920px;
    height: 46px;
    top: 0;
    left: 0;
    background-color: #111111;
}

.notice .text-wrapper-2 {
    position: absolute;
    width: 333px;
    height: 25px;
    top: 9px;
    left: 391px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.notice .top {
    position: absolute;
    width: 1920px;
    height: 350px;
    top: 131px;
    left: 0;
    background-image: url(./img/top.png);
    background-size: cover;
    background-position: 50% 50%;
}

.notice .heading-our-blog {
    position: absolute;
    width: 434px;
    height: 75px;
    top: 136px;
    left: 743px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #393636;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: 72px;
    white-space: nowrap;
}
.notice .frame {
    position: absolute;
    width: 982px;
    height: 46px;
    top: 540px;
    left: 468px;
}

.notice .text-wrapper-33 {
    position: absolute;
    width: 137px;
    height: 44px;
    top: 1px;
    left: 0;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #555353;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 19.2px;
}


.notice .section-form-cate {
    position: absolute;
    width: 90px;
    height: 42px;
    top: 0;
    left: 640px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #bebebe;
}

.notice .section-form-input {
    position: absolute;
    width: 242px;
    height: 42px;
    top: 0;
    left: 739px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #bebebe;
}

.notice .overlap-group {
    position: relative;
    width: 210px;
    height: 32px;
    top: 5px;
    left: 21px;
}

.notice .div-placeholder {
    position: absolute;
    width: 185px;
    height: 20px;
    top: 6px;
    left: 0;
}

.notice .text-wrapper-44 {
    position: absolute;
    width: 100%;
    height: 20px;
    top: -1px;
    left: 0;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #b7b7b7;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.notice .icon-search-outline {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 178px;
}

.notice .text-wrapper-3 {
    position: absolute;
    width: 137px;
    height: 44px;
    top: 541px;
    left: 468px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #555353;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 19.2px;
}

.notice .view {
    position: absolute;
    width: 68px;
    height: 23px;
    top: 548px;
    left: 1385px;
}

.notice .group {
    width: 70px;
    height: 23px;
}

.notice .overlap-group {
    position: relative;
    width: 68px;
    height: 23px;
    background-image: url(./img/rectangle-2.svg);
    background-size: 100% 100%;
}

.notice .text-wrapper-4 {
    position: absolute;
    width: 22px;
    height: 11px;
    top: 6px;
    left: 24px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #4a4a4a;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.notice .div-2 {
    position: absolute;
    width: 1022px;
    height: 578px;
    top: 588px;
    left: 457px;
}

.notice .table {
    flex-direction: column;
    width: 985px;
    height: 456px;
    position: absolute;
    top: 9px;
    left: 11px;
    display: flex;
    align-items: flex-start;
}

.notice .table-2 {
    flex-direction: column;
    width: 985px;
    height: 456px;
    position: relative;
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #b9b9b9;
    display: flex;
    align-items: flex-start;
}

.notice .row {
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    border-bottom-width: 2px;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    border-bottom-style: solid;
    border-color: #b9b9b9;
}

.notice .cell {
    width: 124px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
}

.notice .content {
    width: 124px;
    display: flex;
    align-items: flex-start;
    padding: 10px 12px;
    position: relative;
    flex: 0 0 auto;
}

.notice .text {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    text-align: center;
    line-height: 15.6px;
    font-size: 12px;
    letter-spacing: 0;
}

.notice .content-wrapper {
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
}

.notice .div-wrapper {
    align-self: stretch;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 10px 12px;
    position: relative;
    flex: 0 0 auto;
}

.notice .row-2 {
    height: 42px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff00;
    display: flex;
    align-items: flex-start;
}

.notice .cell-2 {
    width: 124px;
    background-color: #ffffff01;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #b9b9b9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
}

.notice .content-2 {
    width: 120px;
    display: flex;
    align-items: flex-start;
    padding: 10px 12px;
    position: relative;
    flex: 0 0 auto;
}

.notice .text-2 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    text-align: center;
    line-height: 15.6px;
    font-size: 12px;
    letter-spacing: 0;
}

.notice .cell-3 {
    flex: 1;
    flex-grow: 1;
    background-color: #ffffff01;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #b9b9b9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
}

.notice .text-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    left: 58px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    text-align: center;
    line-height: 15.6px;
    white-space: nowrap;
    font-size: 12px;
    letter-spacing: 0;
}

.notice .row-3 {
    height: 42px;
    align-items: flex-start;
    background-color: #ffffff00;
    border-bottom-width: 1px;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    border-bottom-style: solid;
    border-color: #b9b9b9;
}

.notice .cell-4 {
    width: 124px;
    background-color: #ffffff01;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
}

.notice .cell-5 {
    flex: 1;
    flex-grow: 1;
    background-color: #ffffff01;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
}

.notice .text-4 {
    position: relative;
    width: 96px;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    text-align: center;
    line-height: 15.6px;
    font-size: 12px;
    letter-spacing: 0;
}

.notice .text-5 {
    position: relative;
    width: 96px;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #0011ff;
    text-align: center;
    line-height: 15.6px;
    font-size: 12px;
    letter-spacing: 0;
    left: 259px;
    text-decoration: none;
}

.notice .row-4 {
    height: 42px;
    align-items: flex-start;
    border-bottom-width: 1px;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    border-bottom-style: solid;
    border-color: #b9b9b9;
}

.frame-120 {
    text-align: center;
    position: absolute;
    width: 100%; /* 변경된 부분 */
    height: 56px;
    top: 492px;
    left: 0; /* 변경된 부분 */
}

.pagination {
    display: flex; /* 수정된 부분 */
    justify-content: center; /* 추가된 부분 */
    list-style: none; /* 수정된 부분 */
    padding: 0; /* 수정된 부분 */
}

/* 추가된 부분 */
.pagination li {
    display: inline-block;
    margin-right: 5px;
}

/* 추가된 부분 */
.pagination a {
    text-decoration: none;
}

.link, .link-2, .link-3 {
    display: inline-block;
    height: 30px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #111111;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
    margin: 0 5px;
}

.link-2.active {
    background-color: #b2b9c1;
    color: #fff;
    border-radius: 5px;
}


/*.notice .link {
    position: absolute;
    width: 10px;
    height: 30px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #111111;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.notice .text-wrapper-5 {
    position: absolute;
    width: 10px;
    height: 22px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #111111;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.notice .link-2 {
    position: absolute;
    width: 10px;
    height: 30px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #111111;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.notice .link-3 {
    position: absolute;
    width: 10px;
    height: 30px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #111111;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.notice .text-wrapper-6 {
    position: absolute;
    width: 12px;
    height: 24px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #111111;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.notice .link-4 {
    position: absolute;
    width: 20px;
    height: 30px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #111111;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}*/

.notice .view11 {
    position: absolute;
    width: 68px;
    height: 23px;
    top: 511px;
    left: 916px;
}
.notice .group11 {
    width: 70px;
    height: 23px;
}

.notice .overlap-group-22 {
    position: relative;
    width: 68px;
    height: 23px;
    background-image: url(./img/rectangle-2.svg);
    background-size: 100% 100%;
}

.notice .text-wrapper-77 {
    position: absolute;
    width: 22px;
    height: 11px;
    top: -2px;
    left: 24px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #4a4a4a;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
    text-decoration: none;
}

.notice .footer {
    position: absolute;
    width: 1920px;
    height: 390px;
    top: 1259px;
    left: -6px;
    background-color: #111111;
}

.notice .overlap {
    position: relative;
    width: 1391px;
    height: 320px;
    top: 70px;
    left: 154px;
}

.notice .div-container {
    position: absolute;
    width: 1170px;
    height: 320px;
    top: 0;
    left: 221px;
}

.notice .based-on-the-life-s {
    position: absolute;
    width: 325px;
    height: 22px;
    top: 67px;
    left: -192px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.notice .p {
    position: absolute;
    width: 366px;
    height: 27px;
    top: 91px;
    left: -192px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.notice .overlap-2 {
    position: absolute;
    width: 325px;
    height: 41px;
    top: 120px;
    left: -192px;
}

.notice .text-wrapper-7 {
    position: absolute;
    width: 325px;
    height: 22px;
    top: 0;
    left: 0;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.notice .text-wrapper-8 {
    position: absolute;
    width: 299px;
    height: 23px;
    top: 18px;
    left: 15px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.notice .heading-shopping {
    position: absolute;
    width: 95px;
    height: 18px;
    top: -1px;
    left: 266px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 18px;
    white-space: nowrap;
}

.notice .list-item-link {
    position: absolute;
    width: 97px;
    height: 20px;
    top: 33px;
    left: 266px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.notice .list-item-link-2 {
    position: absolute;
    width: 105px;
    height: 20px;
    top: 69px;
    left: 266px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.notice .list-item-link-3 {
    width: 80px;
    top: 105px;
    left: 266px;
    position: absolute;
    height: 20px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.notice .list-item-link-sale {
    width: 122px;
    top: 141px;
    left: 266px;
    position: absolute;
    height: 20px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.notice .list-item-link-4 {
    position: absolute;
    width: 74px;
    height: 20px;
    top: 33px;
    left: 439px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.notice .list-item-link-5 {
    position: absolute;
    width: 122px;
    height: 20px;
    top: 81px;
    left: 440px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.notice .list-item-link-6 {
    width: 56px;
    top: 117px;
    left: 440px;
    position: absolute;
    height: 20px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.notice .heading-newletter {
    position: absolute;
    width: 121px;
    height: 18px;
    top: -1px;
    left: 657px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 18px;
    white-space: nowrap;
}

.notice .div-footer-copyright {
    position: absolute;
    width: 1140px;
    height: 66px;
    top: 254px;
    left: 15px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #ffffff1a;
}

.notice .overlap-group-2 {
    position: relative;
    width: 576px;
    height: 25px;
    top: 20px;
    left: 282px;
}

.notice .text-wrapper-9 {
    position: absolute;
    width: 86px;
    height: 25px;
    top: 0;
    left: 0;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.notice .text-wrapper-10 {
    position: absolute;
    width: 399px;
    height: 25px;
    top: 0;
    left: 86px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.notice .symbol {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 4px;
    left: 484px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #e53637;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 15px;
    white-space: nowrap;
}

.notice .by {
    position: absolute;
    width: 24px;
    height: 25px;
    top: 0;
    left: 499px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
}

.a {
    text-decoration: none;
}