<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="about-us">
      <footer class="footer">
        <div class="overlap">
          <div class="div-container">
            <p class="based-on-the-life-s">Based on the &#39;Life&#39;s Good&#39; brand philosophy,</p>
            <p class="text-wrapper">we always strives to provide First, Unique,</p>
            <div class="overlap-group">
              <p class="div">and New F·U·N experiences to provide</p>
              <p class="p">customers with a better life.</p>
            </div>
            <div class="heading-shopping">SHOPPING</div>
            <div class="list-item-link">Refrigerator</div>
            <div class="list-item-link-2">TV</div>
            <div class="list-item-link-3">Laptop</div>
            <div class="list-item-link-sale">Washing Machine</div>
            <div class="list-item-link-4">Air Purifier</div>
            <div class="list-item-link-5">Air Conditioner</div>
            <div class="list-item-link-6">Cleaner</div>
            <div class="heading-newletter">OTHERS</div>
            <div class="div-footer-copyright">
              <div class="overlap-group-2">
                <div class="text-wrapper-2">Copyright ©</div>
                <p class="text-wrapper-3">20232020 All rights reserved | This template is made with</p>
                <div class="symbol"></div>
                <div class="by">by</div>
                <div class="link-colorlib">Colorlib</div>
              </div>
            </div>
            <div class="list-item-link-7">About us</div>
            <div class="list-item-link-8">FAQ</div>
            <div class="list-item-link-9">Contact</div>
            <p class="element">
              <span class="span"
                >개인정보처리방침<br />이벤트 개인정보처리방침<br />영상정보처리기기운영관리방침<br /><br />대표번호 :
              </span>
              <a href="tel:02-3777-1114" target="_blank" rel="noopener noreferrer"
                ><span class="text-wrapper-4">02-</span></a
              >
              <span class="span"
                >1234-1234<br />전화상담 시간은 평일 09:00 ~ 18:00 (주말, 공휴일 휴무) 입니다. (통화요금 :
                발신자부담)<br />제품 및 서비스 문의는 긴급 문의 건에 한해 24시간 운영합니다.<br />주소 : 경기도 수원시
                경기도 수원시 팔달구 덕영대로 899 (매산로 1가, 세진브론즈빌 304호)<br /><br />본 사이트의 모든 콘텐츠는
                저작권법의 보호를 받는 바, 무단 전재, 복사, 배포 등을 금합니다.</span
              >
            </p>
          </div>
          <img class="link-logo-png" src="img/link-logo-png.png" />
        </div>
      </footer>
      <div class="view">
        <div class="heading-happy">Partners</div>
        <img class="link-client-png" src="img/link-client-1-png.png" />
        <img class="img" src="img/link-client-2-png.png" />
        <img class="link-client-png-2" src="img/link-client-3-png.png" />
        <img class="link-client-png-3" src="img/link-client-4-png.png" />
        <img class="link-client-png-4" src="img/link-client-5-png.png" />
        <img class="link-client-png-5" src="img/link-client-6-png.png" />
        <img class="link-client-png-6" src="img/link-client-7-png.png" />
        <img class="link-client-png-7" src="img/link-client-8-png.png" />
      </div>
      <div class="view-2">
        <div class="our-team">OUR TEAM</div>
        <div class="heading-meet-our">Meet Our Team</div>
        <img class="stuck-at-home" src="img/stuck-at-home-celebrating.png" />
        <div class="heading-john-smith">Eunhai Koh</div>
        <div class="text-wrapper-5">Full Stack</div>
        <img class="fresh-folk-walking" src="img/fresh-folk-walking.png" />
        <div class="heading-christine">HyeJin Choi</div>
        <div class="text-wrapper-6">BackEnd</div>
        <img class="croods-standing" src="img/croods-standing.png" />
        <div class="heading-sean">Somin Choi</div>
        <div class="text-wrapper-7">Manager</div>
        <img class="allura-standing" src="img/allura-standing-colors.png" />
        <div class="heading-sean-2">Sojeong Go</div>
        <div class="text-wrapper-8">Manager</div>
        <img class="open-peeps-standing" src="img/open-peeps-standing.png" />
        <div class="heading-sean-3">YoonBo Kim</div>
        <div class="text-wrapper-9">Manager</div>
        <img class="people-of-brooklyn" src="img/people-of-brooklyn-standing.png" />
        <div class="heading-sean-4">HyunJeong Kim</div>
        <div class="text-wrapper-10">Manager</div>
      </div>
      <div class="section">
        <img class="about-us-jpg" src="img/about-us-jpg.png" />
        <div class="heading-who-we-are">Who We Are ?</div>
        <p class="text-wrapper-11">Contextual advertising programs sometimes have</p>
        <p class="text-wrapper-12">strict policies that need to be adhered too. Let’s take</p>
        <div class="text-wrapper-13">Google as an example.</div>
        <div class="heading-who-we-do">Who We Do ?</div>
        <p class="text-wrapper-14">In this digital generation where information can be</p>
        <p class="text-wrapper-15">easily obtained within seconds, business cards still</p>
        <div class="text-wrapper-16">have retained their importance.</div>
        <div class="heading-why-choose">Why Choose Us</div>
        <p class="text-wrapper-17">A two or three storey house is the ideal way to</p>
        <p class="text-wrapper-18">maximise the piece of earth on which our home sits,</p>
        <p class="text-wrapper-19">but for older or infirm people.</p>
      </div>
      <header class="header">
        <img class="link-logo-png-2" src="img/link-logo-png-1.png" />
        <div class="nav-list-item-link">Home</div>
        <div class="nav-list-item-link-2">Shop</div>
        <div class="nav-list-item-link-3">Notice</div>
        <div class="nav-list-item-link-4">About us</div>
        <img class="icon-search" src="img/icon-search.png" />
        <img class="icon-favorite-border" src="img/icon-favorite-border.png" />
        <img class="icon-shopping-bag" src="img/icon-shopping-bag.png" />
        <img class="icon-person" src="img/icon-person.png" />
        <div class="div-header-top"><div class="text-wrapper-20">Welcome to Twin’s Mall</div></div>
      </header>
      <div class="section-2">
        <div class="heading-about-us">About Us</div>
        <div class="link-home">Home</div>
        <div class="symbol-2"></div>
        <div class="text-wrapper-21">About Us</div>
      </div>
    </div>
  </body>
</html>
