<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8"/>
    <title>AboutUs</title>
</head>

<div layout:fragment="content">
    <div class="aboutus-GvM">

        <div class="section-M21">
            <div class="heading-4-about-us-V8D">About Us</div>
            <div class="auto-group-ygxq-mrR">
                <div class="link-home-WJD">Home</div>
                <div class="symbol"> ></div>
                <div class="about-us-aos">About Us</div>
            </div>
        </div>
        <div class="auto-group-6lyx-XDK">
            <div class="section-Dbw">
                <div class="about-usjpg-kbs">
                </div>
                <div class="auto-group-bkgm-qtD">
                    <div class="auto-group-bhcm-Peq">
                        <div class="heading-4-who-we-are--jyb">Who We Are ?</div>
                        <div class="heading-4-who-we-do--nws">Who We Do ?</div>
                        <div class="heading-4-why-choose-us-fkm">Why Choose Us</div>
                    </div>
                    <div class="auto-group-vcp1-zo3">
                        <div class="contextual-advertising-programs-sometimes-have-Xny">Contextual advertising programs
                            sometimes have
                        </div>
                        <div class="in-this-digital-generation-where-information-can-be-cpR">In this digital generation
                            where information can be
                        </div>
                        <div class="a-two-or-three-storey-house-is-the-ideal-way-to-Wuo">A two or three storey house is
                            the ideal way to
                        </div>
                    </div>
                    <div class="auto-group-97rb-SYZ">
                        <div class="strict-policies-that-need-to-be-adhered-too-lets-take-Cnd">strict policies that need
                            to be adhered too. Let’s take
                        </div>
                        <div class="easily-obtained-within-seconds-business-cards-still-8AV">easily obtained within
                            seconds, business cards still
                        </div>
                        <div class="maximise-the-piece-of-earth-on-which-our-home-sits-TCm">maximise the piece of earth
                            on which our home sits,
                        </div>
                    </div>
                    <div class="auto-group-9qv5-ZWh">
                        <div class="google-as-an-example-JDP">Google as an example.</div>
                        <div class="have-retained-their-importance-1tV">have retained their importance.</div>
                        <div class="but-for-older-or-infirm-people-xHw">but for older or infirm people.</div>
                    </div>
                </div>
            </div>
            <div class="item--U1P">
                <div class="auto-group-nkmf-BRb">
                    <div class="our-team-7q3">Our Team</div>
                    <div class="heading-2-meet-our-team-pzM">Meet Our Team</div>
                </div>
                <div class="auto-group-zfpm-gFs">
                    <div class="auto-group-mfih-Rz9">
                        <img class="stuck-at-home-celebrating-YJ5" th:src="@{/img/stuck-at-home-celebrating.png}"/>
                        <img class="fresh-folk-walking-t73" th:src="@{/img/fresh-folk-walking.png}"/>
                        <img class="croods-standing-q2H" th:src="@{/img/croods-standing.png}"/>
                    </div>
                    <div class="auto-group-cz9t-nCR">
                        <img class="allura-standing-colors-7Vb" th:src="@{/img/allura-standing-colors.png}"/>
                        <img class="people-of-brooklyn-standing-f1K" th:src="@{/img/people-of-brooklyn-standing.png}"/>
                    </div>
                </div>
                <div class="auto-group-dvjf-jG5">
                    <div class="auto-group-nhey-e89">
                        <div class="heading-4-john-smith-Zku">Eunhai Koh</div>
                        <div class="heading-4-christine-wise-rzu"> JungMin Lee</div>
                        <div class="heading-4-sean-robbins-9DK">SoMin Choi</div>
                        <div class="auto-group-xpnh-Goj">
                            <div class="heading-4-sean-robbins-CxH">MiRae Park</div>
                        </div>
                        <div class="heading-4-sean-robbins-3T7">HyunJeong Kim</div>
                    </div>
                    <div class="auto-group-mhnh-NkH">
                        <div class="full-stack-5ub">Full Stack</div>
                        <div class="backend-L4q">BackEnd</div>
                        <div class="manager-Evu">Manager</div>
                        <div class="manager-Sn5">Manager</div>
                        <div class="manager-PBX">Manager</div>
                    </div>
                </div>
            </div>
            <div class="item--KL5">
                <div class="auto-group-azyh-QcR">
                    <img class="link-client-1png-N3T" th:src="@{/img/link-client-1png.png}"/>
                    <img class="link-client-5png-DLu" th:src="@{/img/link-client-5png.png}"/>
                </div>
                <div class="auto-group-ybhb-9EZ">
                    <img class="link-client-2png-UGq" th:src="@{/img/link-client-2png.png}"/>
                    <img class="link-client-6png-Cid" th:src="@{/img/link-client-6png.png}"/>
                </div>
                <div class="heading-2-happy-clients-9Ny">Partners</div>
                <div class="auto-group-lich-nRw">
                    <img class="link-client-3png-jry" th:src="@{/img/link-client-3png.png}"/>
                    <img class="link-client-7png-siH" th:src="@{/img/link-client-7png.png}"/>
                </div>
                <div class="auto-group-hqxd-RE1">
                    <img class="link-client-4png-aMo" th:src="@{/img/link-client-4png.png}"/>
                    <img class="link-client-8png-sbo" th:src="@{/img/link-client-8png.png}"/>
                </div>
            </div>
        </div>
    </div>
</div>