<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="cart">
        <div class="top">
            <div class="heading-shopping">Shopping Cart</div>
            <div class="overlap-group">
                <div class="link-home">장바구니</div>
                <div class="symbol"></div>
            </div>
            <div class="symbol-2"></div>
        </div>
        <div class="view">
            <div class="table-header">
                <div class="row-cell-product">상품명</div>
                <div class="row-cell-quantity">수량</div>
                <div class="row-cell-total">총가격</div>
            </div>
            <div class="table-body-row">
                <img class="data-cart-jpg" src="img/data-cart-1-jpg.png"/>
                <div class="data">
                    <div class="heading-t-shirt">T-shirt Contrast Pocket</div>
                    <div class="heading">$98.49</div>
                </div>
                <div class="symbol-3"></div>
                <div class="data-input">
                    <div class="div-wrapper">
                        <div class="text-wrapper-3">1</div>
                    </div>
                </div>
                <div class="symbol-4"></div>
                <div class="data-2">$ 30.00</div>
                <div class="symbol-wrapper">
                    <div class="symbol-5"></div>
                </div>
            </div>
            <div class="table-body-row-2">
                <img class="data-cart-jpg" src="img/data-cart-2-jpg.png"/>
                <div class="data">
                    <div class="heading-diagonal">Diagonal Textured Cap</div>
                    <div class="heading">$98.49</div>
                </div>
                <div class="symbol-3"></div>
                <div class="data-input">
                    <div class="div-wrapper">
                        <div class="text-wrapper-3">1</div>
                    </div>
                </div>
                <div class="symbol-4"></div>
                <div class="data-2">$ 32.50</div>
                <div class="symbol-wrapper">
                    <div class="symbol-5"></div>
                </div>
            </div>
            <div class="table-body-row-3">
                <img class="data-cart-jpg" src="img/data-cart-3-jpg.png"/>
                <div class="data">
                    <div class="heading-basic">Basic Flowing Scarf</div>
                    <div class="heading">$98.49</div>
                </div>
                <div class="symbol-3"></div>
                <div class="data-input">
                    <div class="div-wrapper">
                        <div class="text-wrapper-3">1</div>
                    </div>
                </div>
                <div class="symbol-4"></div>
                <div class="data-2">$ 47.00</div>
                <div class="symbol-wrapper">
                    <div class="symbol-5"></div>
                </div>
            </div>
            <div class="table-body-row-4">
                <img class="data-cart-jpg" src="img/data-cart-4-jpg.png"/>
                <div class="data">
                    <div class="heading-basic">Basic Flowing Scarf</div>
                    <div class="heading">$98.49</div>
                </div>
                <div class="symbol-3"></div>
                <div class="data-input">
                    <div class="div-wrapper">
                        <div class="text-wrapper-3">1</div>
                    </div>
                </div>
                <div class="symbol-4"></div>
                <div class="data-2">$ 30.00</div>
                <div class="symbol-wrapper">
                    <div class="symbol-5"></div>
                </div>
            </div>
        </div>
        <div class="div-cart-total-wrapper">
            <div class="div-cart-total">
                <div class="heading-cart-total">총 주문금액</div>
                <div class="list-item">
                    <div class="text-wrapper-4">Subtotal</div>
                    <div class="text-wrapper-5">$ 169.50</div>
                </div>
                <div class="list-item-2">
                    <div class="text-wrapper-6">Total</div>
                    <div class="text-wrapper-5">$ 169.50</div>
                </div>
                <div class="link">
                    <div class="text-wrapper-7">총 주문하기</div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
