<!DOCTYPE html>
<html lang="en">
<head>
  <header class="header">
    <div class="frame"><img class="link-logo-png" src="img/link-logo-png.png" /></div>
    <div class="navbar">
      <div class="nav-list-item-link">Home</div>
      <div class="text-wrapper">About us</div>
      <div class="nav-list-item-link-2">Shop</div>
      <div class="nav-list-item-link-3">Notice</div>
    </div>
    <img class="icon-search" src="img/icon-search.png" />
    <img class="icon-favorite-border" src="img/icon-favorite-border.png" />
    <img class="icon-shopping-bag" src="img/icon-shopping-bag.png" />
    <img class="icon-person" src="img/icon-person.png" />
    <div class="div-header-top"><div class="text-wrapper-2">Welcome to Twin’s Mall</div></div>
  </header>
</head>
<body>

</body>
</html>