<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="script">
    <script type="text/javascript">

        /* 회원 가입이 성공했다면 메시지를 경고창으로 보여줌 */
        $(document).ready(function () {
            var successMessage = "[[${successMessage}]]";

            console.log(successMessage);

            if (successMessage !== "null" && successMessage !== "") {
                alert(successMessage);
            }
        });


    </script>
</div>

<div layout:fragment="content">

    <div class="index">
        <div class="frame-wrapper">
            <div class="frame-2">
                <div class="overlap-group">
                    <div class="heading-summer">SPECIAL COLLECTION</div>
                    <div class="heading-fall">All Seasons</div>
                    <div class="heading">Collections 2023</div>
                </div>
                <a th:href="@{/item/list}">
                    <div class="link">
                        <div class="shop-now">SHOP NOW</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="element">
            <div class="section">
                <div class="overlap">
                    <img class="banner-jpg" src="/img/banner-3-jpg-1.png"/>
                    <div class="div-banner-item-text">
                        <div class="overlap-group-2">
                            <div class="heading-shoes">Air Conditioner</div>
                            <div class="heading-2">Collections</div>
                        </div>
                        <a th:href="@{/item/list?pcate=Air+Conditioner}">
                            <div class="link-shop-now">SHOP NOW</div>
                            <div class="link-2"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="overlap-wrapper">
                <div class="overlap-2">
                    <img class="img" src="/img/banner-3-jpg.png"/>
                    <div class="div-banner-item-text-2">
                        <div class="overlap-group-3">
                            <div class="heading-shoes-2">TV</div>
                            <div class="heading-3">Collections</div>
                        </div>
                        <a th:href="@{/item/list?pcate=TV}">
                            <div class="link-shop-now">SHOP NOW</div>
                            <div class="link-3"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="section-2">
                <img class="banner-jpg-2" src="/img/banner-1-jpg.png"/>
                <div class="div-banner-item-text-3">
                    <div class="overlap-group-4">
                        <div class="heading-clothing">Laptop</div>
                        <div class="heading-4">Collections</div>
                    </div>
                    <a th:href="@{/item/list?pcate=Laptop}">
                        <div class="link-shop-now">SHOP NOW</div>
                        <div class="link-4"></div>
                    </a>
                </div>
            </div>
        </div>


        <div class="bestsellers">
            <div class="list-item-new">New Arrivals</div>
            <th:block th:each="item, status: ${items.getContent()}">
                <div class="div-product-item">
                    <a th:href="@{/item/detail/} + ${item.id}">
                    <div class="div-product-item-pic">
                        <div class="overlap-group-5">
                            <img th:src="${item.iimgurl}" class="element-2" th:alt="${item.pname}">
                        </div>
                    </div>
                    <div class="heading-piqu-biker">[[${item.pname}]]</div>
                    <div class="heading-5"
                         data-th-text="| ${#numbers.formatInteger(item.pprice, 3, 'COMMA')} 원 |"></div>
                    </a>
                </div>
            </th:block>
        </div>

        <div class="instagram">
            <div class="overlap-6">
                <img class="section-3" src="/img/section-5.png"/>
                <img class="section-4" src="/img/section-4.png"/>
                <img class="section-5" src="/img/section-3.png"/>
                <img class="section-6" src="/img/section-2.png"/>
                <img class="section-7" src="/img/section-1.png"/>
                <img class="section-8" src="/img/section.png"/>
            </div>
            <img class="section-heading" src="/img/section-heading-2-instagram.png"/>
            <img class="section-lorem-ipsum" src="/img/section-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing.png"/>
            <img class="section-elit-sed-do" src="/img/section-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et.png"/>
            <img class="section-dolore-magna" src="/img/section-dolore-magna-aliqua.png"/>
            <div class="icon-instagram-icon"><img class="vector" src="/img/vector.png"/></div>
        </div>
        <footer class="footer">
            <div class="overlap-7">
                <div class="div-container">
                    <p class="based-on-the-life-s">Based on the &#39;Life&#39;s Good&#39; brand philosophy,</p>
                    <p class="p">we always strives to provide First, Unique,</p>
                    <div class="overlap-8">
                        <p class="text-wrapper-3">and New F·U·N experiences to provide</p>
                        <p class="text-wrapper-4">customers with a better life.</p>
                    </div>
                    <div class="heading-shopping">SHOPPING</div>
                    <div class="list-item-link">Refrigerator</div>
                    <div class="list-item-link-2">TV</div>
                    <div class="list-item-link-3">Laptop</div>
                    <div class="list-item-link-sale">Washing Machine</div>
                    <div class="list-item-link-4">Air Purifier</div>
                    <div class="list-item-link-5">Air Conditioner</div>
                    <div class="list-item-link-6">Cleaner</div>
                    <div class="heading-newletter">OTHERS</div>
                    <div class="div-footer-copyright">
                        <div class="overlap-group-7">
                            <div class="text-wrapper-5">Copyright ©</div>
                            <p class="text-wrapper-6">20232020 All rights reserved | This template is made with</p>
                            <div class="symbol-10"></div>
                            <div class="by">by</div>
                            <div class="link-colorlib">Colorlib</div>
                        </div>
                    </div>
                    <div class="list-item-link-7">About us</div>
                    <div class="list-item-link-8">FAQ</div>
                    <div class="list-item-link-9">Contact</div>
                    <p class="element-4">
                <span class="span"
                >개인정보처리방침<br/>이벤트 개인정보처리방침<br/>영상정보처리기기운영관리방침<br/><br/>대표번호 :
                </span>
                        <a href="tel:02-3777-1114" target="_blank" rel="noopener noreferrer"
                        ><span class="text-wrapper-7">02-</span></a
                        >
                        <span class="span"
                        >1234-1234<br/>전화상담 시간은 평일 09:00 ~ 18:00 (주말, 공휴일 휴무) 입니다. (통화요금 :
                  발신자부담)<br/>제품 및 서비스 문의는 긴급 문의 건에 한해 24시간 운영합니다.<br/>주소 : 경기도
                  수원시 경기도 수원시 팔달구 덕영대로 899 (매산로 1가, 세진브론즈빌 304호)<br/><br/>본 사이트의 모든
                  콘텐츠는 저작권법의 보호를 받는 바, 무단 전재, 복사, 배포 등을 금합니다.</span
                        >
                    </p>
                </div>
                <img class="link-logo-png-2" src="/img/link-logo-png-1.png"/>
            </div>
        </footer>
    </div>
</div>
</body>
</html>