<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="index">
        <div class="indexmain">
            <div class="overlap-group">
            </div>
            <img class="vector" th:src="@{/img/vector-2.svg}"/>
            <img class="img" th:src="@{/img/vector-1.svg}"/>
        </div>
        <div class="element">
            <div class="section">
                <div class="overlap">
                    <img class="banner-jpg" th:src="@{/img/banner-3-jpg.png}"/>
                    <div class="div-banner-item-text">
                        <div class="overlap-group-2">
                            <div class="heading-shoes">TV</div>
                            <div class="heading-2">2023</div>
                        </div>
                        <div class="link-shop-now">SHOP NOW</div>
                        <div class="link-2"></div>
                    </div>
                </div>
            </div>
            <div class="overlap-wrapper">
                <div class="overlap">
                    <img class="banner-jpg" th:src="@{/img/banner-3-jpg.png}"/>
                    <div class="div-banner-item-text">
                        <div class="overlap-group-2">
                            <div class="heading-shoes">TV</div>
                            <div class="heading-2">2023</div>
                        </div>
                        <div class="link-shop-now">SHOP NOW</div>
                        <div class="link-2"></div>
                    </div>
                </div>
            </div>
            <div class="overlap-group-wrapper">
                <div class="overlap-2">
                    <img class="banner-jpg-2" th:src="@{/img/banner-1-jpg.png}"/>
                    <div class="div-banner-item-text-2">
                        <div class="overlap-group-3">
                            <div class="heading-clothing">Laptop</div>
                            <div class="heading-3">Collections 2023</div>
                        </div>
                        <div class="link-shop-now">SHOP NOW</div>
                        <div class="link-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bestsellers">
            <div class="list-item-best">Best Sellers</div>
            <div class="list-item-new">New Arrivals</div>
            <div class="list-item-hot-sales">Hot Sales</div>
            <div class="div-product-item">
                <div class="div-product-item-pic">
                    <div class="overlap-group-4">
                        <div class="span-label">
                            <div class="new">NEW</div>
                        </div>
                        <img style="cursor: pointer;" onclick="" class="element-2"
                             th:src="@{/img/2023-10-18-113837-1.png}"/>
                    </div>
                </div>
                <div class="heading-piqu-biker">Piqué Biker Jacket</div>
                <div class="heading-4">$67.24</div>
            </div>
            <div class="overlap-4">
                <div class="div-product-item-2">
                    <div class="element-wrapper"><img class="element-3" th:src="@{/img/2023-10-18-114357-1.png}"/></div>
                    <div class="heading-piqu-biker">Piqué Biker Jacket</div>
                    <div class="heading-4">$67.24</div>
                </div>
                <img class="image" th:src="@{/img/image-1.png}"/>
            </div>
            <div class="div-product-item-3">
                <div class="div-wrapper">
                    <div class="overlap-group-5">
                        <div class="sale-wrapper">
                            <div class="sale">SALE</div>
                        </div>
                        <img class="image-2" th:src="@{/img/image-2.png}"/>
                    </div>
                </div>
                <div class="heading-multi">Multi-pocket Chest Bag</div>
                <div class="heading-4">$43.48</div>
            </div>
            <div class="div-product-item-4">
                <div class="image-wrapper"></div>
                <div class="heading-diagonal">Diagonal Textured Cap</div>
                <div class="heading-5">$60.9</div>
            </div>
            <div class="div-product-item-5">
                <div class="div-product-item-pic-2"></div>
                <div class="heading-lether">Lether Backpack</div>
                <div class="heading-4">$31.37</div>
            </div>
            <div class="div-product-item-6">
                <div class="span-label-wrapper">
                    <div class="span-label-2">
                        <div class="sale">SALE</div>
                    </div>
                </div>
                <div class="heading-ankle">Ankle Boots</div>
                <div class="heading-4">$98.49</div>
            </div>
            <div class="div-product-item-7">
                <div class="div-product-item-pic-3"></div>
                <div class="heading-t-shirt">T-shirt Contrast Pocket</div>
                <div class="heading-4">$49.66</div>
            </div>
            <div class="overlap-5">
                <div class="div-product-item-8">
                    <div class="div-product-item-pic-4"></div>
                    <div class="heading-basic">Basic Flowing Scarf</div>
                    <div class="heading-4">$26.28</div>
                </div>
                <img class="image-4" th:src="@{/img/image-4.png}"/>
            </div>
        </div>
        <div class="maingoods">
            <div class="overlap-6">
                <div class="pseudo"></div>
                <div class="heading-clothings">Air Purifier</div>
                <div class="heading-shoe">Laptop Collections</div>
                <div class="heading-6">Refrigerator</div>
            </div>
            <div class="overlap-7">
                <img class="product-sale-png" th:src="@{/img/product-sale-png.png}"/>
                <div class="div-hot-deal-sticker">
                    <div class="text-wrapper-4">Sale</div>
                    <div class="overlap-group-6">
                        <div class="heading-7">Up to 35%</div>
                        <div class="heading-8">OFF</div>
                    </div>
                </div>
            </div>
            <div class="overlap-8">
                <div class="deal-of-the-week">DEAL OF THE WEEK</div>
                <div class="heading-multi-2">TROMM Objet Collection</div>
                <div class="heading-bag-black">Wash Tower</div>
            </div>
            <div class="shop-now-wrapper">
                <div class="shop-now-2">SHOP NOW</div>
            </div>
        </div>
        <div class="instagram">
            <div class="overlap-9">
                <img class="section-2" th:src="@{/img/section-5.png}"/>
                <img class="section-3" th:src="@{/img/section-4.png}"/>
                <img class="section-4" th:src="@{/img/section-3.png}"/>
                <img class="section-5" th:src="@{/img/section-2.png}"/>
                <img class="section-6" th:src="@{/img/section-1.png}"/>
                <img class="section-7" th:src="@{/img/section.png}"/>
            </div>
            <img class="section-heading" th:src="@{/img/section-heading-2-instagram.png}"/>
            <img class="section-lorem-ipsum"
                 th:src="@{/img/section-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing.png}"/>
            <img class="section-elit-sed-do"
                 th:src="@{/img/section-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et.png}"/>
            <img class="section-dolore-magna" th:src="@{/img/section-dolore-magna-aliqua.png}"/>
            <div class="icon-instagram-icon"><img class="vector-2" th:src="@{/img/vector.png}"/></div>
        </div>
        <div class="overlap-10">
            <div class="notice">
                <div class="heading-fashion">Notice &amp; Event</div>
                <div class="overlap-11">
                    <img class="div-blog-item-pic" th:src="@{/img/div-blog-item-pic-2.png}"/>
                    <div class="div-blog-item-text">
                        <img class="calendar-png" th:src="@{/img/calendar-png.png}"/>
                        <div class="element-february">16 February 2020</div>
                        <p class="heading-what">What Curling Irons Are The</p>
                        <div class="heading-best-ones">Best Ones</div>
                        <div class="link-read-more">READ MORE</div>
                        <div class="link-3"></div>
                    </div>
                </div>
                <div class="overlap-12">
                    <img class="div-blog-item-pic" th:src="@{/img/div-blog-item-pic-1.png}"/>
                    <div class="div-blog-item-text">
                        <img class="calendar-png" th:src="@{/img/calendar-png.png}"/>
                        <div class="element-february">21 February 2020</div>
                        <div class="text-wrapper-5">Eternity Bands Do Last</div>
                        <div class="heading-forever">Forever</div>
                        <div class="link-read-more">READ MORE</div>
                        <div class="link-3"></div>
                    </div>
                </div>
                <div class="overlap-13">
                    <img class="div-blog-item-pic" th:src="@{/img/div-blog-item-pic.png}"/>
                    <div class="div-blog-item-text">
                        <img class="calendar-png" th:src="@{/img/calendar-png.png}"/>
                        <div class="element-february">28 February 2020</div>
                        <div class="text-wrapper-5">The Health Benefits Of</div>
                        <div class="heading-sunglasses">Sunglasses</div>
                        <div class="link-read-more">READ MORE</div>
                        <div class="link-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>