<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Simple Sidebar - Login</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- Core theme CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body class="align-middle">
    <div class="container-fluid d-flex justify-content-center" style="height: 100vh">
        <div class="card align-self-center">
            <div class="card-header">LOGIN Page</div>
            <div class="card-body">
                <form id="registerForm" action="/login" method="post">
                    <!--action 속성값은 '/login' -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">아이디</span>
                        <input type="text" name="username" class="form-control" placeholder="USER ID">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">패스워드</span>
                        <input type="text" name="password" class="form-control" placeholder="PASSWORD">
                    </div>
                    <div class="my-4">
                        <div class="float-end">
                            <button type="submit" class="btn btn-primary submitBtn">LOGIN</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>