<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="product">
      <div class="div">
        <header class="header">
          <img class="link-logo-png" src="img/link-logo-png.png" />
          <div class="nav-list-item-link">Home</div>
          <div class="text-wrapper">Shop</div>
          <div class="nav-list-item-link-2">Notice</div>
          <div class="nav-list-item-link-3">About us</div>
          <img class="icon-search" src="img/icon-search.png" />
          <img class="icon-favorite-border" src="img/icon-favorite-border.png" />
          <img class="icon-shopping-bag" src="img/icon-shopping-bag.png" />
          <img class="icon-person" src="img/icon-person.png" />
          <div class="div-header-top"><div class="text-wrapper-2">Welcome to Twin’s Mall</div></div>
        </header>
        <div class="shop">
          <div class="heading-shop">Shop</div>
          <div class="link-home">Home</div>
          <div class="symbol"></div>
          <div class="text-wrapper-3">Shop</div>
        </div>
        <div class="view">
          <p class="p">Showing 1–12 of 126 results</p>
          <div class="text-wrapper-4">Sort by Price:</div>
          <div class="div-nice-select">
            <div class="text-wrapper-5">Low To High</div>
            <div class="pseudo"></div>
          </div>
          <div class="div-product-item">
            <div class="div-product-item-pic"></div>
            <div class="heading-piqu-biker">Piqué Biker Jacket</div>
            <div class="overlap-group">
              <div class="symbol-2"></div>
              <div class="symbol-3"></div>
              <div class="symbol-4"></div>
              <div class="symbol-5"></div>
              <div class="symbol-6"></div>
            </div>
            <div class="heading">$67.24</div>
          </div>
          <div class="div-product-item-2">
            <div class="span-label-wrapper">
              <div class="span-label"><div class="sale">SALE</div></div>
            </div>
            <div class="heading-multi">Multi-pocket Chest Bag</div>
            <div class="overlap-group">
              <div class="symbol-7"></div>
              <div class="symbol-8"></div>
              <div class="symbol-9"></div>
              <div class="symbol-10"></div>
              <div class="symbol-6"></div>
            </div>
            <div class="heading">$43.48</div>
          </div>
          <div class="div-product-item-3">
            <div class="div-product-item-pic-2"></div>
            <div class="heading-diagonal">Diagonal Textured Cap</div>
            <div class="overlap-group">
              <div class="symbol-2"></div>
              <div class="symbol-3"></div>
              <div class="symbol-4"></div>
              <div class="symbol-5"></div>
              <div class="symbol-6"></div>
            </div>
            <div class="heading-2">$60.9</div>
          </div>
          <div class="div-product-item-4">
            <div class="div-wrapper">
              <div class="span-label"><div class="sale">SALE</div></div>
            </div>
            <div class="heading-ankle">Ankle Boots</div>
            <div class="overlap-group">
              <div class="symbol-7"></div>
              <div class="symbol-8"></div>
              <div class="symbol-9"></div>
              <div class="symbol-10"></div>
              <div class="symbol-6"></div>
            </div>
            <div class="heading">$98.49</div>
          </div>
          <div class="div-product-item-5">
            <div class="div-product-item-pic-3"></div>
            <div class="heading-t-shirt">T-shirt Contrast Pocket</div>
            <div class="overlap-group">
              <div class="symbol-2"></div>
              <div class="symbol-3"></div>
              <div class="symbol-4"></div>
              <div class="symbol-5"></div>
              <div class="symbol-6"></div>
            </div>
            <div class="heading">$49.66</div>
          </div>
          <div class="div-product-item-6">
            <div class="div-product-item-pic-4"></div>
            <div class="heading-basic">Basic Flowing Scarf</div>
            <div class="overlap-group">
              <div class="symbol-2"></div>
              <div class="symbol-3"></div>
              <div class="symbol-4"></div>
              <div class="symbol-5"></div>
              <div class="symbol-6"></div>
            </div>
            <div class="heading">$26.28</div>
          </div>
          <div class="div-product-item-7">
            <div class="div-product-item-pic-5"></div>
            <div class="heading-piqu-biker">Piqué Biker Jacket</div>
            <div class="overlap-group">
              <div class="symbol-2"></div>
              <div class="symbol-3"></div>
              <div class="symbol-4"></div>
              <div class="symbol-5"></div>
              <div class="symbol-6"></div>
            </div>
            <div class="heading">$67.24</div>
          </div>
          <div class="div-product-item-8">
            <div class="div-product-item-pic-6">
              <div class="span-label"><div class="sale">SALE</div></div>
            </div>
            <div class="heading-multi">Multi-pocket Chest Bag</div>
            <div class="overlap-group">
              <div class="symbol-7"></div>
              <div class="symbol-8"></div>
              <div class="symbol-9"></div>
              <div class="symbol-10"></div>
              <div class="symbol-6"></div>
            </div>
            <div class="heading">$43.48</div>
          </div>
          <div class="div-product-item-9">
            <div class="div-product-item-pic-7"></div>
            <div class="heading-diagonal">Diagonal Textured Cap</div>
            <div class="overlap-group">
              <div class="symbol-2"></div>
              <div class="symbol-3"></div>
              <div class="symbol-4"></div>
              <div class="symbol-5"></div>
              <div class="symbol-6"></div>
            </div>
            <div class="heading-2">$60.9</div>
          </div>
          <div class="div-product-item-10">
            <div class="div-product-item-pic-8">
              <div class="span-label"><div class="sale">SALE</div></div>
            </div>
            <div class="heading-ankle">Ankle Boots</div>
            <div class="overlap-group">
              <div class="symbol-7"></div>
              <div class="symbol-8"></div>
              <div class="symbol-9"></div>
              <div class="symbol-10"></div>
              <div class="symbol-6"></div>
            </div>
            <div class="heading">$98.49</div>
          </div>
          <div class="div-product-item-11">
            <div class="div-product-item-pic-9"></div>
            <div class="heading-t-shirt">T-shirt Contrast Pocket</div>
            <div class="overlap-group">
              <div class="symbol-2"></div>
              <div class="symbol-3"></div>
              <div class="symbol-4"></div>
              <div class="symbol-5"></div>
              <div class="symbol-6"></div>
            </div>
            <div class="heading">$49.66</div>
          </div>
          <div class="div-product-item-12">
            <div class="div-product-item-pic-10"></div>
            <div class="heading-basic">Basic Flowing Scarf</div>
            <div class="overlap-group">
              <div class="symbol-2"></div>
              <div class="symbol-3"></div>
              <div class="symbol-4"></div>
              <div class="symbol-5"></div>
              <div class="symbol-6"></div>
            </div>
            <div class="heading">$26.28</div>
          </div>
          <div class="link"><div class="text-wrapper-6">1</div></div>
          <div class="link-2">2</div>
          <div class="link-3">3</div>
          <div class="text-wrapper-7">...</div>
          <div class="link-4">21</div>
        </div>
        <div class="section-form-input">
          <div class="div-placeholder">
            <div class="text-wrapper-8">Search...</div>
            <div class="section-form-button">U</div>
          </div>
        </div>
        <div class="view-2">
          <div class="overlap">
            <div class="categories-wrapper"><div class="categories">CATEGORIES</div></div>
            <div class="symbol-11"></div>
          </div>
          <div class="div-card-body">
            <div class="list">
              <div class="item-link-men">Refrigerator</div>
              <div class="item-link-women">TV</div>
              <div class="item-link-bags">Laptop</div>
              <div class="item-link-clothing">Washing Machine</div>
              <div class="item-link-shoes">Air Purifier</div>
              <div class="item-link">Air Conditioner</div>
              <div class="frame">
                <div class="overlap-group-2">
                  <div class="item-link-kids">Cleaner</div>
                  <img class="icon-keyboard-arrow" src="img/icon-keyboard-arrow-down.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="overlap-2">
            <div class="div-container">
              <p class="based-on-the-life-s">Based on the &#39;Life&#39;s Good&#39; brand philosophy,</p>
              <p class="text-wrapper-9">we always strives to provide First, Unique,</p>
              <div class="overlap-3">
                <p class="text-wrapper-10">and New F·U·N experiences to provide</p>
                <p class="text-wrapper-11">customers with a better life.</p>
              </div>
              <div class="heading-shopping">SHOPPING</div>
              <div class="list-item-link">Refrigerator</div>
              <div class="list-item-link-2">TV</div>
              <div class="list-item-link-3">Laptop</div>
              <div class="list-item-link-sale">Washing Machine</div>
              <div class="list-item-link-4">Air Purifier</div>
              <div class="list-item-link-5">Air Conditioner</div>
              <div class="list-item-link-6">Cleaner</div>
              <div class="heading-newletter">OTHERS</div>
              <div class="div-footer-copyright">
                <div class="overlap-group-3">
                  <div class="text-wrapper-12">Copyright ©</div>
                  <p class="text-wrapper-13">20232020 All rights reserved | This template is made with</p>
                  <div class="symbol-12"></div>
                  <div class="by">by</div>
                  <div class="link-colorlib">Colorlib</div>
                </div>
              </div>
              <div class="list-item-link-7">About us</div>
              <div class="list-item-link-8">FAQ</div>
              <div class="list-item-link-9">Contact</div>
              <p class="element">
                <span class="span"
                  >개인정보처리방침<br />이벤트 개인정보처리방침<br />영상정보처리기기운영관리방침<br /><br />대표번호 :
                </span>
                <a href="tel:02-3777-1114" target="_blank" rel="noopener noreferrer"
                  ><span class="text-wrapper-14">02-</span></a
                >
                <span class="span"
                  >1234-1234<br />전화상담 시간은 평일 09:00 ~ 18:00 (주말, 공휴일 휴무) 입니다. (통화요금 :
                  발신자부담)<br />제품 및 서비스 문의는 긴급 문의 건에 한해 24시간 운영합니다.<br />주소 : 경기도
                  수원시 경기도 수원시 팔달구 덕영대로 899 (매산로 1가, 세진브론즈빌 304호)<br /><br />본 사이트의 모든
                  콘텐츠는 저작권법의 보호를 받는 바, 무단 전재, 복사, 배포 등을 금합니다.</span
                >
              </p>
            </div>
            <img class="img" src="img/link-logo-png-1.png" />
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
